
            <div class="grass pokedex-box" id="chikorita">
                <h1 class="pnumber"> #152 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chikorita" class="pname"> Chikorita</a></li> 
                        <a href="https://www.pokemon.com/es/pokedex/chikorita"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/152.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box"  id="bayleef">
                <h1 class="pnumber"> #153 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bayleef" class="pname"> Bayleef</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bayleef"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/153.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="meganium">
                <h1 class="pnumber"> #154 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/meganium" class="pname"> Meganium</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/meganium"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/154.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="cyndaquil">
                <h1 class="pnumber"> #155 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cyndaquil" class="pname"> Cyndaquil</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cyndaquil"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/155.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="quilava">
                <h1 class="pnumber"> #156 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/quilava" class="pname"> Quilava</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/quilava"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/156.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="typhlosion">
                <h1 class="pnumber"> #157 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/typhlosion" class="pname"> Typhlosion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/typhlosion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/157.png" alt=""> </a>
                    </div>
            </div>

            <div class="fire regForm" id="typhlosionH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Typhlosion</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/157_f2.png" alt="">
                </div>
            </div>
            
            <div class="water pokedex-box" id="totodile">
                <h1 class="pnumber"> #158 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/totodile" class="pname"> Totodile</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/totodile"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/158.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="croconaw">
                <h1 class="pnumber"> #159 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/croconaw" class="pname"> Croconaw</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/croconaw"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/159.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="feraligatr">
                <h1 class="pnumber"> #160 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/feraligatr" class="pname"> Feraligatr</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/feraligatr"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/160.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="sentret">
                <h1 class="pnumber"> #161 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sentret" class="pname"> Sentret</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sentret"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/161.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="furret">
                <h1 class="pnumber"> #162 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/furret" class="pname"> Furret</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/furret"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/162.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="hoothoot">
                <h1 class="pnumber"> #163 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hoothoot" class="pname"> Hoothoot</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hoothoot"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/163.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="noctowl">
                <h1 class="pnumber"> #164 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/noctowl" class="pname"> Noctowl</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/noctowl"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/164.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="ledyba">
                <h1 class="pnumber"> #165 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ledyba" class="pname"> Ledyba</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ledyba"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/165.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="ledian">
                <h1 class="pnumber"> #166 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ledian" class="pname"> Ledian</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ledian"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/166.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="spinarak">
                <h1 class="pnumber"> #167 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/spinarak" class="pname"> Spinarak</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/spinarak"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/167.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="ariados">
                <h1 class="pnumber"> #168 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ariados" class="pname"> Ariados</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ariados"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/168.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="crobat">
                <h1 class="pnumber"> #169 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/crobat" class="pname"> Crobat</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/crobat"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/169.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="chinchou">
                <h1 class="pnumber"> #170 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chinchou" class="pname"> Chinchou</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chinchou"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/170.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="lanturn">
                <h1 class="pnumber"> #171 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lanturn" class="pname"> Lanturn</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lanturn"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/171.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="pichu">
                <h1 class="pnumber"> #172 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pichu" class="pname"> Pichu</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pichu"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/172.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="cleffa">
                <h1 class="pnumber"> #173 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cleffa" class="pname"> Cleffa</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cleffa"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/173.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="igglybuff">
                <h1 class="pnumber"> #174 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/igglybuff" class="pname"> Igglybuff</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/igglybuff"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/174.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="togepi">
                <h1 class="pnumber"> #175 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/togepi" class="pname"> Togepi</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/togepi"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/175.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="togetic">
                <h1 class="pnumber"> #176 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/togetic" class="pname"> Togetic</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/togetic"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/176.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="natu">
                <h1 class="pnumber"> #177 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/natu" class="pname"> Natu</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/natu"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/177.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="xatu">
                <h1 class="pnumber"> #178 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/xatu" class="pname"> Xatu</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/xatu"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/178.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="mareep">
                <h1 class="pnumber"> #179 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mareep" class="pname"> Mareep</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mareep"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/179.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="flaaffy">
                <h1 class="pnumber"> #180 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/flaaffy" class="pname"> Flaaffy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/flaaffy"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/180.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="ampharos">
                <h1 class="pnumber"> #181 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ampharos" class="pname"> Ampharos</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ampharos"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/181.png" alt=""> </a>
                    </div>
            </div>

            <div class="electric mega" id="megaampharos">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Ampharos</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/181_f2.png" alt="">
                </div>
            </div>
            
            <div class="grass pokedex-box" id="bellossom">
                <h1 class="pnumber"> #182 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bellossom" class="pname"> Bellossom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bellossom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/182.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="marill">
                <h1 class="pnumber"> #183 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/marill" class="pname"> Marill</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/marill"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/183.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="azumarill">
                <h1 class="pnumber"> #184 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/azumarill" class="pname"> Azumarill</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/azumarill"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/184.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="sudowoodo">
                <h1 class="pnumber"> #185 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sudowoodo" class="pname"> Sudowoodo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sudowoodo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/185.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="politoed">
                <h1 class="pnumber"> #186 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/politoed" class="pname"> Politoed</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/politoed"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/186.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="hoppip">
                <h1 class="pnumber"> #187 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hoppip" class="pname"> Hoppip</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hoppip"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/187.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="skiploom">
                <h1 class="pnumber"> #188 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/skiploom" class="pname"> Skiploom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/skiploom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/188.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="jumpluff">
                <h1 class="pnumber"> #189 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/jumpluff" class="pname"> Jumpluff</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/jumpluff"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/189.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="aipom">
                <h1 class="pnumber"> #190 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/aipom" class="pname"> Aipom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/aipom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/190.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="sunkern">
                <h1 class="pnumber"> #191 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sunkern" class="pname"> Sunkern</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sunkern"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/191.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="sunflora">
                <h1 class="pnumber"> #192 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sunflora" class="pname"> Sunflora</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sunflora"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/192.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="yanma">
                <h1 class="pnumber"> #193 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/yanma" class="pname"> Yanma</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/yanma"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/193.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="wooper">
                <h1 class="pnumber"> #194 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/wooper" class="pname"> Wooper</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/wooper"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/194.png" alt=""> </a>
                    </div>
            </div>

            <div class="poison regForm" id="wooperP">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Paldean Wooper </li>
                        <img class= "pImgR" src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/4/44/latest/20220803140005/Wooper_de_Paldea.png/200px-Wooper_de_Paldea.png" alt="">
                </div>
            </div>
            
            <div class="water pokedex-box" id="quagsire">
                <h1 class="pnumber"> #195 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/quagsire" class="pname"> Quagsire</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/quagsire"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/195.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="espeon">
                <h1 class="pnumber"> #196 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/espeon" class="pname"> Espeon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/espeon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/196.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="umbreon">
                <h1 class="pnumber"> #197 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/umbreon" class="pname"> Umbreon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/umbreon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/197.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="murkrow">
                <h1 class="pnumber"> #198 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/murkrow" class="pname"> Murkrow</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/murkrow"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/198.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="slowking">
                <h1 class="pnumber"> #199 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/slowking" class="pname"> Slowking</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/slowking"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/199.png" alt=""> </a>
                    </div>
            </div>

            <div class="poison regForm" id="slowkingG">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Galarian Slowking </li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/199_f2.png" alt="">
                </div>
            </div>
            
            <div class="ghost pokedex-box" id="misdreavus">
                <h1 class="pnumber"> #200 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/misdreavus" class="pname"> Misdreavus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/misdreavus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/200.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="unown">
                <h1 class="pnumber"> #201 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/unown" class="pname"> Unown</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/unown"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/201.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="wobbuffet">
                <h1 class="pnumber"> #202 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/wobbuffet" class="pname"> Wobbuffet</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/wobbuffet"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/202.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="girafarig">
                <h1 class="pnumber"> #203 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/girafarig" class="pname"> Girafarig</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/girafarig"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/203.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="pineco">
                <h1 class="pnumber"> #204 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pineco" class="pname"> Pineco</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pineco"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/204.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="forretress">
                <h1 class="pnumber"> #205 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/forretress" class="pname"> Forretress</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/forretress"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/205.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="dunsparce">
                <h1 class="pnumber"> #206 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dunsparce" class="pname"> Dunsparce</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dunsparce"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/206.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="gligar">
                <h1 class="pnumber"> #207 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gligar" class="pname"> Gligar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gligar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/207.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="steelix">
                <h1 class="pnumber"> #208 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/steelix" class="pname"> Steelix</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/steelix"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/208.png" alt=""> </a>
                    </div>
            </div>

            <div class="steel mega" id="megasteelix">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Steelix</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/208_f2.png" alt="">
                </div>
            </div>
            
            <div class="fairy pokedex-box" id="snubbull">
                <h1 class="pnumber"> #209 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/snubbull" class="pname"> Snubbull</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/snubbull"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/209.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="granbull">
                <h1 class="pnumber"> #210 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/granbull" class="pname"> Granbull</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/granbull"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/210.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="qwilfish">
                <h1 class="pnumber"> #211 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/qwilfish" class="pname"> Qwilfish</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/qwilfish"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/211.png" alt=""> </a>
                    </div>
            </div>

            <div class="dark regForm" id="qwilfishH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Qwilfish</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/211_f2.png" alt="">
                </div>
            </div>
            
            <div class="bug pokedex-box" id="scizor">
                <h1 class="pnumber"> #212 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/scizor" class="pname"> Scizor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/scizor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/212.png" alt=""> </a>
                    </div>
            </div>

            <div class="bug mega" id="megascizor">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Scizor</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/212_f2.png" alt="">
                </div>
            </div>
            
            <div class="bug pokedex-box" id="shuckle">
                <h1 class="pnumber"> #213 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/shuckle" class="pname"> Shuckle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/shuckle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/213.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="heracross">
                <h1 class="pnumber"> #214 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/heracross" class="pname"> Heracross</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/heracross"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/214.png" alt=""> </a>
                    </div>
            </div>

            <div class="bug mega" id="megaheracross">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Heracross</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/214_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="sneasel">
                <h1 class="pnumber"> #215 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sneasel" class="pname"> Sneasel</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sneasel"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/215.png" alt=""> </a>
                    </div>
            </div>

            <div class="fight regForm" id="sneaselH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Sneasel</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/215_f2.png" alt="">
                </div>
            </div>
            
            <div class="normal pokedex-box" id="teddiursa">
                <h1 class="pnumber"> #216 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/teddiursa" class="pname"> Teddiursa</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/teddiursa"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/216.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="ursaring">
                <h1 class="pnumber"> #217 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ursaring" class="pname"> Ursaring</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ursaring"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/217.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="slugma">
                <h1 class="pnumber"> #218 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/slugma" class="pname"> Slugma</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/slugma"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/218.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="magcargo">
                <h1 class="pnumber"> #219 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/magcargo" class="pname"> Magcargo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/magcargo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/219.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="swinub">
                <h1 class="pnumber"> #220 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/swinub" class="pname"> Swinub</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/swinub"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/220.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="piloswine">
                <h1 class="pnumber"> #221 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/piloswine" class="pname"> Piloswine</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/piloswine"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/221.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="corsola">
                <h1 class="pnumber"> #222 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/corsola" class="pname"> Corsola</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/corsola"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/222.png" alt=""> </a>
                    </div>
            </div>

            <div class="ghost regForm" id="corsolaG">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Galarian Corsola </li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/222_f2.png" alt="">
                </div>
            </div>
            
            <div class="water pokedex-box" id="remoraid">
                <h1 class="pnumber"> #223 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/remoraid" class="pname"> Remoraid</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/remoraid"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/223.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="octillery">
                <h1 class="pnumber"> #224 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/octillery" class="pname"> Octillery</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/octillery"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/224.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="delibird">
                <h1 class="pnumber"> #225 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/delibird" class="pname"> Delibird</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/delibird"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/225.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="mantine">
                <h1 class="pnumber"> #226 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mantine" class="pname"> Mantine</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mantine"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/226.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="skarmory">
                <h1 class="pnumber"> #227 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/skarmory" class="pname"> Skarmory</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/skarmory"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/227.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="houndour">
                <h1 class="pnumber"> #228 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/houndour" class="pname"> Houndour</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/houndoom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/228.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="houndoom">
                <h1 class="pnumber"> #229 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/houndoom" class="pname"> Houndoom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/houndoom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/229.png" alt=""> </a>
                    </div>
            </div>

            <div class="dark mega" id="megahoundoom">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Houndoom</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/229_f2.png" alt="">
                </div>
            </div>
            
            <div class="water pokedex-box" id="kingdra">
                <h1 class="pnumber"> #230 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/kingdra" class="pname"> Kingdra</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/kingdra"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/230.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="phanpy">
                <h1 class="pnumber"> #231 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/phanpy" class="pname"> Phanpy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/phanpy"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/231.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="donphan">
                <h1 class="pnumber"> #232 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/donphan" class="pname"> Donphan</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/donphan"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/232.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="porygon2">
                <h1 class="pnumber"> #233 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/porygon2" class="pname"> Porygon2</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/porygon2"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/233.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="stantler">
                <h1 class="pnumber"> #234 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/stantler" class="pname"> Stantler</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/stantler"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/234.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="smeargle">
                <h1 class="pnumber"> #235 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/smeargle" class="pname"> Smeargle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/smeargle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/235.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="tyrogue">
                <h1 class="pnumber"> #236 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tyrogue" class="pname"> Tyrogue</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tyrogue"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/236.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="hitmontop">
                <h1 class="pnumber"> #237 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hitmontop" class="pname"> Hitmontop</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hitmontop"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/237.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="smoochum">
                <h1 class="pnumber"> #238 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/smoochum" class="pname"> Smoochum</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/smoochum"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/238.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="elekid">
                <h1 class="pnumber"> #239 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/elekid" class="pname"> Elekid</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/elekid"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/239.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="magby">
                <h1 class="pnumber"> #240 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/magby" class="pname"> Magby</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/magby"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/240.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="miltank">
                <h1 class="pnumber"> #241 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/miltank" class="pname"> Miltank</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/miltank"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/241.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="blissey">
                <h1 class="pnumber"> #242 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/blissey" class="pname"> Blissey</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/blissey"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/242.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="raikou">
                <h1 class="pnumber"> #243 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/raikou" class="pname"> Raikou</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/raikou"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/243.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="entei">
                <h1 class="pnumber"> #244 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/entei" class="pname"> Entei</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/entei"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/244.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="suicune">
                <h1 class="pnumber"> #245 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/suicune" class="pname"> Suicune</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/suicune"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/245.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="larvitar">
                <h1 class="pnumber"> #246 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/larvitar" class="pname"> Larvitar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/larvitar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/246.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="pupitar">
                <h1 class="pnumber"> #247 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pupitar" class="pname"> Pupitar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pupitar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/247.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="tyranitar">
                <h1 class="pnumber"> #248 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tyranitar" class="pname"> Tyranitar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tyranitar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/248.png" alt=""> </a>
                    </div>
            </div>

            <div class="rock mega" id="megatyranitar">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Tyranitar</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/248_f2.png" alt="">
                </div>
            </div>
            
            <div class="fly pokedex-box" id="lugia">
                <h1 class="pnumber"> #249 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lugia" class="pname"> Lugia</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lugia"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/249.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="hooh">
                <h1 class="pnumber"> #250 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ho-oh" class="pname"> Ho-Oh</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ho-oh"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/250.png" alt=""> </a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="celebi">
                <h1 class="pnumber"> #251 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/celebi" class="pname"> Celebi</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/celebi"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/251.png" alt=""> </a>
                    </div>
            </div>