
            <div class="grass pokedex-box" id="turtwig">
                <h1 class="pnumber"> #387 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/turtwig" class="pname"> Turtwig</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/turtwig"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/387.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="grotle">
                <h1 class="pnumber"> #388 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/grotle" class="pname"> Grotle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/grotle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/388.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="torterra">
                <h1 class="pnumber"> #389 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/torterra" class="pname"> Torterra</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/torterra"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/389.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="chimchar">
                <h1 class="pnumber"> #390 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chimchar" class="pname"> Chimchar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chimchar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/390.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="monferno">
                <h1 class="pnumber"> #391 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/monferno" class="pname"> Monferno</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/monferno"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/391.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="infernape">
                <h1 class="pnumber"> #392 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/infernape" class="pname"> Infernape</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/infernape"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/392.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="piplup">
                <h1 class="pnumber"> #393 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/piplup" class="pname"> Piplup</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/piplup"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/393.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="prinplup">
                <h1 class="pnumber"> #394 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/prinplup" class="pname"> Prinplup</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/prinplup"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/394.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="empoleon">
                <h1 class="pnumber"> #395 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/empoleon" class="pname"> Empoleon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/empoleon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/395.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="starly">
                <h1 class="pnumber"> #396 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/starly" class="pname"> Starly</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/starly"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/396.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="staravia">
                <h1 class="pnumber"> #397 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/staravia" class="pname"> Staravia</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/staravia"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/397.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="staraptor">
                <h1 class="pnumber"> #398 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/staraptor" class="pname"> Staraptor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/staraptor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/398.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="bidoof">
                <h1 class="pnumber"> #399 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bidoof" class="pname"> Bidoof</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bidoof"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/399.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="bibarel">
                <h1 class="pnumber"> #400 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bibarel" class="pname"> Bibarel</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bibarel"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/400.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="kricketot">
                <h1 class="pnumber"> #401 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/kricketot" class="pname"> Kricketot</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/kricketot"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/401.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="kricketune">
                <h1 class="pnumber"> #402 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/kricketune" class="pname"> Kricketune</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/kricketune"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/402.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="shinx">
                <h1 class="pnumber"> #403 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/shinx" class="pname"> Shinx</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/shinx"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/403.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="luxio">
                <h1 class="pnumber"> #404 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/luxio" class="pname"> Luxio</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/luxio"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/404.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="luxray">
                <h1 class="pnumber"> #405 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/luxray" class="pname"> Luxray</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/luxray"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/405.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="budew">
                <h1 class="pnumber"> #406 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/budew" class="pname"> Budew</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/budew"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/406.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="roserade">
                <h1 class="pnumber"> #407 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/roserade" class="pname"> Roserade</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/roserade"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/407.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="cranidos">
                <h1 class="pnumber"> #408 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cranidos" class="pname"> Cranidos</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cranidos"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/408.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="rampardos">
                <h1 class="pnumber"> #409 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/rampardos" class="pname"> Rampardos</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/rampardos"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/409.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="shieldon">
                <h1 class="pnumber"> #410 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/shieldon" class="pname"> Shieldon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/shieldon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/410.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="bastiodon">
                <h1 class="pnumber"> #411 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bastiodon" class="pname"> Bastiodon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bastiodon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/411.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="burmy">
                <h1 class="pnumber"> #412 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/burmy" class="pname"> Burmy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/burmy"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/412.png" alt=""></a>
                    </div>
            </div>

            <div class="bug combatForm" id="burmySF">
                <h1 class="pnumberC"> #412 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Burmy <span class="spanC"> -sand trunk- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/412_f2.png" alt="">
                    </div>
            </div>
            
            <div class="bug combatForm" id="burmyTF">
                <h1 class="pnumberC"> #412 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Burmy <span class="spanC"> -trash trunk- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/412_f3.png" alt="">
                    </div>
            </div>

            <div class="bug pokedex-box" id="wormadam">
                <h1 class="pnumber"> #413 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/wormadam" class="pname"> Wormadam</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/wormadam"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/413.png" alt=""></a>
                    </div>
            </div>

            <div class="bug combatForm" id="wormadamSF">
                <h1 class="pnumberC"> #413 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Wormadam <span class="spanCmin"> -sand trunk- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/413_f2.png" alt="">
                    </div>
            </div>

            <div class="bug combatForm" id="wormadamTF">
                <h1 class="pnumberC"> #413 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Wormadam <span class="spanCmin"> -trash form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/413_f3.png" alt="">
                    </div>
            </div>

            
            <div class="bug pokedex-box" id="mothim">
                <h1 class="pnumber"> #414 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mothim" class="pname"> Mothim</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mothim"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/414.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="combee">
                <h1 class="pnumber"> #415 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/combee" class="pname"> Combee</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/combee"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/415.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="vespiqueen">
                <h1 class="pnumber"> #416 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/vespiquen" class="pname"> Vespiquen</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/vespiqueen"> <img class="pImg"  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/416.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="pachirisu">
                <h1 class="pnumber"> #417 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pachirisu" class="pname"> Pachirisu</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pachirisu"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/417.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="buizel">
                <h1 class="pnumber"> #418 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/buizel" class="pname"> Buizel</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/buizel"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/418.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="floatzel">
                <h1 class="pnumber"> #419 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/floatzel" class="pname"> Floatzel</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/floatzel"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/419.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="cherubi">
                <h1 class="pnumber"> #420 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cherubi" class="pname">  Cherubi</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cherubi"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/420.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="cherrim">
                <h1 class="pnumber"> #421 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cherrim" class="pname"> Cherrim</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cherrim"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/421.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass combatForm" id="cherrimSF">
                <h1 class="pnumberC"> #421 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Cherrim <span class="spanC"> -sunny form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/421_f2.png" alt="">
                    </div>
            </div>

            <div class="water pokedex-box" id="shellos">
                <h1 class="pnumber"> #422 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/shellos" class="pname"> Shellos</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/shellos"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/422.png" alt=""></a>
                    </div>
            </div>

            <div class="water alter" id="shellosES">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameA"> Shellos <span class="spanAmin"> -east sea- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/422_f2.png" alt="">
                    </div>
            </div>
            
            <div class="water pokedex-box" id="gastrodon">
                <h1 class="pnumber"> #423 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gastrodon" class="pname"> Gastrodon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gastrodon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/423.png" alt=""></a>
                    </div>
            </div>

            <div class="water alter" id="gastrodonES">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> Gastrodon <span class="spanAmin"> -east sea- </span></li>
                        <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/423_f2.png" alt="">
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="ambipom">
                <h1 class="pnumber"> #424 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ambipom" class="pname"> Ambipom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ambipom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/424.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="drifloon">
                <h1 class="pnumber"> #425 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/drifloon" class="pname"> Drifloon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/drifloon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/425.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="drifblim">
                <h1 class="pnumber"> #426 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/drifblim" class="pname"> Drifblim</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/driflim"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/426.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="buneary">
                <h1 class="pnumber"> #427 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/buneary" class="pname"> Buneary</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/buneary"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/427.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="lopunny">
                <h1 class="pnumber"> #428 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lopunny" class="pname"> Lopunny</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lopunny"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/428.png" alt=""></a>
                    </div>
            </div>

            <div class="normal mega" id="megalopunny">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Lopunny</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/428_f2.png" alt="">
                </div>
            </div>
            
            <div class="ghost pokedex-box" id="mismagius">
                <h1 class="pnumber"> #429 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mismagius" class="pname"> Mismagius</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mismagius"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/429.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="honchkrow">
                <h1 class="pnumber"> #430 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/honchkrow" class="pname"> Honchkrow</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/honchkrow"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/430.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="glameow">
                <h1 class="pnumber"> #431 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/glameow" class="pname"> Glameow</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/glameow"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/431.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="purugly">
                <h1 class="pnumber"> #432 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/purugly" class="pname"> Purugly</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/purugly"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/432.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="chingling">
                <h1 class="pnumber"> #433 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chingling" class="pname"> Chingling</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chingling"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/433.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="stunky">
                <h1 class="pnumber"> #434 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/stunky" class="pname"> Stunky</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/stunky"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/434.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="skuntank">
                <h1 class="pnumber"> #435 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/skuntank" class="pname"> Skuntank</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/skuntank"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/435.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="bronzor">
                <h1 class="pnumber"> #436 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bronzor" class="pname"> Bronzor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bronzor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/436.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="bronzong">
                <h1 class="pnumber"> #437 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bronzong" class="pname"> Bronzong</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bronzong"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/437.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="bonsly">
                <h1 class="pnumber"> #438 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bonsly" class="pname"> Bonsly</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bonsly"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/438.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="mimejr">
                <h1 class="pnumber"> #439 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mime-jr" class="pname"> Mime Jr.</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mime-jr"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/439.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="happiny">
                <h1 class="pnumber"> #440 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/happiny" class="pname"> Happiny</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/happiny"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/440.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="chatot">
                <h1 class="pnumber"> #441 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chatot" class="pname"> Chatot</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chatot"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/441.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="spiritomb">
                <h1 class="pnumber"> #442 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/spiritomb" class="pname"> Spiritomb</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/spiritomb"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/442.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="gible">
                <h1 class="pnumber"> #443 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gible" class="pname"> Gible</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gible"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/443.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="gabite">
                <h1 class="pnumber"> #444 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gabite" class="pname"> Gabite</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gabite"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/444.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="garchomp">
                <h1 class="pnumber"> #445 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/garchomp" class="pname"> Garchomp</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/garchomp"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/445.png" alt=""></a>
                    </div>
            </div>

            <div class="dragon mega" id="megagarchomp">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-garchomp</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/445_f2.png" alt="">
                </div>
            </div>
            
            <div class="normal pokedex-box" id="munchlax">
                <h1 class="pnumber"> #446 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/munchlax" class="pname"> Munchlax</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/munchlax"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/446.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="riolu">
                <h1 class="pnumber"> #447 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/riolu" class="pname"> Riolu</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/riolu"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/447.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="lucario">
                <h1 class="pnumber"> #448 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lucario" class="pname"> Lucario</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lucario"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/448.png" alt=""></a>
                    </div>
            </div>

            
            <div class="fight mega" id="megalucario">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Lucario</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/448_f2.png" alt="">
                </div>
            </div>
            
            <div class="ground pokedex-box" id="hippopotas">
                <h1 class="pnumber"> #449 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hippopotas" class="pname"> Hippopotas</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hippopotas"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/449.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="hippowdon">
                <h1 class="pnumber"> #450 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hippowdon" class="pname"> Hippowdon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hippowdon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/450.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="skorupi">
                <h1 class="pnumber"> #451 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/skorupi" class="pname"> Skorupi</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/skorupi"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/451.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="drapion">
                <h1 class="pnumber"> #452 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/drapion" class="pname"> Drapion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/drapion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/452.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="croagunk">
                <h1 class="pnumber"> #453 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/croagunk" class="pname"> Croagunk</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/croagunk"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/453.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="toxicroak">
                <h1 class="pnumber"> #454 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/toxicroak" class="pname"> Toxicroak</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/toxicroak"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/454.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="carnivine">
                <h1 class="pnumber"> #455 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/carnivine" class="pname"> Carnivine</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/carnivine"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/455.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="finneon">
                <h1 class="pnumber"> #456 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/finneon" class="pname"> Finneon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/finneon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/456.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="lumineon">
                <h1 class="pnumber"> #457 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lumineon" class="pname"> Lumineon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lumineon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/457.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="mantyke">
                <h1 class="pnumber"> #458 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mantyke" class="pname"> Mantyke</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mantyke"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/458.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="snover">
                <h1 class="pnumber"> #459 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/snover" class="pname"> Snover</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/snover"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/459.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="abomasnow">
                <h1 class="pnumber"> #460 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/abomasnow" class="pname"> Abomasnow</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/abomasnow"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/460.png" alt=""></a>
                    </div>
            </div>

            <div class="ice mega" id="megaabomasnow">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Abomasnow</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/460_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="weavile">
                <h1 class="pnumber"> #461 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/weavile" class="pname"> Weavile</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/weavile"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/461.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="magnezone">
                <h1 class="pnumber"> #462 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/magnezone" class="pname"> Magnezone</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/magnezone"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/462.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="lickilicky">
                <h1 class="pnumber"> #463 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lickilicky" class="pname"> Lickilicky</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lickilicky"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/463.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="rhyperior">
                <h1 class="pnumber"> #464 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/rhyperior" class="pname"> Rhyperior</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/rhyperior"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/464.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="tangrowth">
                <h1 class="pnumber"> #465 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tangrowth" class="pname"> Tangrowth</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tangrowth"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/465.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="electrivire">
                <h1 class="pnumber"> #466 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/electivire" class="pname"> Electivire</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/electrivire"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/466.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="magmortar">
                <h1 class="pnumber"> #467 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/magmortar" class="pname"> Magmortar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/magmortar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/467.png" alt=""></a>
                    </div>
            </div>
            
            <div class=" fairy pokedex-box" id="togekiss">
                <h1 class="pnumber"> #468 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/togekiss" class="pname"> Togekiss</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/togekiss"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/468.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="yanmega">
                <h1 class="pnumber"> #469 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/yanmega" class="pname"> Yanmega</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/yanmega"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/469.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="leafeon">
                <h1 class="pnumber"> #470 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/leafeon" class="pname"> Leafeon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/leafeon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/470.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="glaceon">
                <h1 class="pnumber"> #471 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/glaceon" class="pname"> Glaceon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/glaceon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/471.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="gliscor">
                <h1 class="pnumber"> #472 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gliscor" class="pname"> Gliscor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gliscor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/472.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="mamoswine">
                <h1 class="pnumber"> #473 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mamoswine" class="pname"> Mamoswine</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mamoswine"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/473.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="porygonz">
                <h1 class="pnumber"> #474 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/porygon-z" class="pname"> Porygon-Z</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/porygon-z"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/474.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="gallade">
                <h1 class="pnumber"> #475 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gallade" class="pname"> Gallade</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gallade"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/475.png" alt=""></a>
                    </div>
            </div>

            <div class="psychic mega" id="megagallade">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Gallade</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/475_f2.png" alt="">
                </div>
            </div>
            
            <div class="rock pokedex-box" id="probopass">
                <h1 class="pnumber"> #476 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/probopass" class="pname"> Probopass</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/probopass"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/476.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="dusknoir">
                <h1 class="pnumber"> #477 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dusknoir" class="pname"> Dusknoir</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dusknoir"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/477.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="froslass">
                <h1 class="pnumber"> #478 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/froslass" class="pname"> Froslass</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/frosslass"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/478.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="rotom">
                <h1 class="pnumber"> #479 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/rotom" class="pname"> Rotom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/rotom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/479.png" alt=""></a>
                    </div>
            </div>

            <div class="fire combatForm" id="rotomHF">
                <h1 class="pnumberC"> #479 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Rotom <span class="spanC"> -heat form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/479_f2.png" alt="">
                    </div>
            </div>

            <div class="water combatForm" id="rotomWF">
                <h1 class="pnumberC"> #479 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Rotom <span class="spanC"> -washing form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/479_f3.png" alt="">
                    </div>
            </div>

            <div class="ice combatForm" id="rotomCoF">
                <h1 class="pnumberC"> #479 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Rotom <span class="spanC"> -cold form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/479_f4.png" alt="">
                    </div>
            </div>

            <div class="fly combatForm" id="rotomFF">
                <h1 class="pnumberC"> #479 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Rotom <span class="spanC"> -fan form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/479_f5.png" alt="">
                    </div>
            </div>

            <div class="grass combatForm" id="rotomCuF">
                <h1 class="pnumberC"> #479 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Rotom <span class="spanC"> -cut form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/479_f6.png" alt="">
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="uxie">
                <h1 class="pnumber"> #480 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/uxie" class="pname"> Uxie</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/uxie"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/480.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="mesprit">
                <h1 class="pnumber"> #481 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mesprit" class="pname"> Mesprit</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mesprit"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/481.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="azelf">
                <h1 class="pnumber"> #482 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/azelf" class="pname"> Azelf</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/azelf"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/482.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="dialga">
                <h1 class="pnumber"> #483 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dialga" class="pname"> Dialga</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dialga"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/483.png" alt=""></a>
                    </div>
            </div>

            <div class="steel combatForm" id="dialgaOF">
                <h1 class="pnumberC"> #483 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> dialga <span class="spanC"> -origin form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/483_f2.png" alt="">
                    </div>
            </div>
            
            <div class="water pokedex-box" id="palkia">
                <h1 class="pnumber"> #484 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/palkia" class="pname"> Palkia</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/palkia"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/484.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water combatForm" id="palkiaOF">
                <h1 class="pnumberC"> #484 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Palkia <span class="spanC"> -origin form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/484_f2.png" alt="">
                    </div>
            </div>

            <div class="fire pokedex-box" id="heatran">
                <h1 class="pnumber"> #485 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/heatran" class="pname"> Heatran</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/heatran"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/485.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="regigigas">
                <h1 class="pnumber"> #486 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/regigigas" class="pname"> Regigigas</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/regigigas"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/486.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="giratina">
                <h1 class="pnumber"> #487 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/giratina" class="pname"> Giratina</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/giratina"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/487.png" alt=""></a>
                    </div>
            </div>

            <div class="ghost combatForm" id="giratinaOF">
                <h1 class="pnumberC"> #487 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Giratina <span class="spanC"> -origin form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/487_f2.png" alt="">
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="cresselia">
                <h1 class="pnumber"> #488 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cresselia" class="pname"> Cresselia</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cresselia"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/488.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="phione">
                <h1 class="pnumber"> #489 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/phione" class="pname"> Phione</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/phione"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/489.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="manaphy">
                <h1 class="pnumber"> #490 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/manaphy" class="pname"> Manaphy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/manaphy"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/490.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="darkrai">
                <h1 class="pnumber"> #491 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/darkrai" class="pname"> Darkrai</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/drakrai"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/491.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="shaymin">
                <h1 class="pnumber"> #492 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/shaymin" class="pname"> Shaymin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/shaymin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/492.png" alt=""></a>
                    </div>
            </div>

            <div class="grass combatForm" id="shayminSF">
                <h1 class="pnumberC"> #492 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Shaymin <span class="spanC"> -sky form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/492_f2.png" alt="">
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="arceus">
                <h1 class="pnumber"> #493 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/arceus" class="pname"> Arceus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/arceus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/493.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="victini"> 
                <h1 class="pnumber"> #494 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/victini" class="pname"> Victini</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/victini"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/494.png" alt=""></a>
                    </div>
            </div>

