
            <div class="grass pokedex-box" id="snivy">
                <h1 class="pnumber"> #495 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/snivy" class="pname" > Snivy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/snivy"> <img  class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/495.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="servine">
                <h1 class="pnumber"> #496 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/servine" class="pname" > Servine</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/servine"> <img  class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/496.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="serperior">
                <h1 class="pnumber"> #497 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/serperior" class="pname" > Serperior</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/serperior"> <img  class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/497.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="tepig">
                <h1 class="pnumber"> #498 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tepig" class="pname"> Tepig</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tepig"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/498.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="pignite">
                <h1 class="pnumber"> #499 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pignite" class="pname"> Pignite</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pignite"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/499.png" alt=""></a>
                    </div> 
            </div>
            
            <div class="fire pokedex-box" id="emboar">
                <h1 class="pnumber"> #500 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/emboar" class="pname"> Emboar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/emboar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/500.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="oshawott">
                <h1 class="pnumber"> #501 </h1>
                    <div class="pokedex-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/oshawott"> Oshawott</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/oshawott"> <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/501.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="dewott">
                <h1 class="pnumber"> #502 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dewott" class="pname"> Dewott</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dewott"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/502.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="samurott">
                <h1 class="pnumber"> #503 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/samurott" class="pname"> Samurott</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/samurott"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/503.png" alt=""></a>
                    </div>
            </div>

            <div class="water regForm" id="samurottH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Samurott</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/503_f2.png" alt="">
                </div>
            </div>
            
            <div class="normal pokedex-box" id="patrat">
                <h1 class="pnumber"> #504 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/patrat" class="pname"> Patrat</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/patrat"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/504.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="watchog">
                <h1 class="pnumber"> #505 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/watchog" class="pname"> Watchog</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/watchog"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/505.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="lillipup">
                <h1 class="pnumber"> #506 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lillipup" class="pname"> Lillipup</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lilligant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/506.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="herdier">
                <h1 class="pnumber"> #507 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/herdier" class="pname"> Herdier</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hardier"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/507.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="stoutland">
                <h1 class="pnumber"> #508 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/stoutland" class="pname"> Stoutland</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/stoutland"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/508.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="purrloin">
                <h1 class="pnumber"> #509 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/purrloin" class="pname"> Purrloin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/purrloin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/509.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="liepard">
                <h1 class="pnumber"> #510 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/liepard" class="pname"> Liepard</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/liepard"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/510.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="pansage">
                <h1 class="pnumber"> #511 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pansage" class="pname"> Pansage</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pansage"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/511.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="simisage">
                <h1 class="pnumber"> #512 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/simisage" class="pname"> Simisage</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/simisage"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/512.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="pansear">
                <h1 class="pnumber"> #513 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pansear" class="pname"> Pansear</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pansear"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/513.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="simisear">
                <h1 class="pnumber"> #514 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/simisear" class="pname"> Simisear</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/simisear"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/514.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="panpour">
                <h1 class="pnumber"> #515 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/panpour" class="pname"> Panpour</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/panpour"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/515.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="simipour">
                <h1 class="pnumber"> #516 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/simipour" class="pname"> Simipour</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/simipour"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/516.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="munna">
                <h1 class="pnumber"> #517 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/munna" class="pname"> Munna</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/munna"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/517.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="musharna">
                <h1 class="pnumber"> #518 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/musharna" class="pname"> Musharna</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/musharna"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/518.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="pidove">
                <h1 class="pnumber"> #519 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pidove" class="pname"> Pidove</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pidove"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/519.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="tranquill">
                <h1 class="pnumber"> #520 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tranquill" class="pname"> Tranquill</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tranquill"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/520.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="unfezant">
                <h1 class="pnumber"> #521 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/unfezant" class="pname"> Unfezant</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/unfezant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/521.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="blitzle">
                <h1 class="pnumber"> #522 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/blitzle" class="pname"> Blitzle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/blitzle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/522.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="zebstrika">
                <h1 class="pnumber"> #523 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zebstrika" class="pname"> Zebstrika</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zebstrika"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/523.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="roggenrola">
                <h1 class="pnumber"> #524 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/roggenrola" class="pname"> Roggenrola</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/roggenrola"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/524.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="boldore">
                <h1 class="pnumber"> #525 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/boldore" class="pname"> Boldore</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/boldore"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/525.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="gigalith">
                <h1 class="pnumber"> #526 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gigalith" class="pname"> Gigalith</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gigalith"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/526.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="woobat">
                <h1 class="pnumber"> #527 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/woobat" class="pname"> Woobat</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/woobat"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/527.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="swoobat">
                <h1 class="pnumber"> #528 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/swoobat" class="pname"> Swoobat</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/swoobat"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/528.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="drilbur">
                <h1 class="pnumber"> #529 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/drilbur" class="pname"> Drilbur</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/drilbur"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/529.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="excadrill">
                <h1 class="pnumber"> #530 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/excadrill" class="pname"> Excadrill</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/excadrill"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/530.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="audino">
                <h1 class="pnumber"> #531 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/audino" class="pname"> Audino</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/audino"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/531.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy mega" id="megaaudino">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Audino</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/531_f2.png" alt="">
                </div>
            </div>

            <div class="fight pokedex-box" id="timburr">
                <h1 class="pnumber"> #532 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/timburr" class="pname"> Timburr</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/timburr"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/532.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="gurdurr">
                <h1 class="pnumber"> #533 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gurdurr" class="pname"> Gurdurr</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gurdurr"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/533.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="conkeldurr">
                <h1 class="pnumber"> #534 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/conkeldurr" class="pname"> Conkeldurr</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/conkeldurr"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/534.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="tympole">
                <h1 class="pnumber"> #535 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tympole" class="pname"> Tympole</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tympole"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/535.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="palpitoad">
                <h1 class="pnumber"> #536 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/palpitoad" class="pname"> Palpitoad</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/palpitoad"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/536.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="seismitoad">
                <h1 class="pnumber"> #537 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/seismitoad" class="pname"> Seismitoad</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/seismitoad"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/537.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="throh">
                <h1 class="pnumber"> #538 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/throh" class="pname"> Throh</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/throh"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/538.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="sawk">
                <h1 class="pnumber"> #539 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sawk" class="pname"> Sawk</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sawk"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/539.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="sewaddle">
                <h1 class="pnumber"> #540 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sewaddle" class="pname"> Sewaddle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sewaddle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/540.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="swadlon">
                <h1 class="pnumber"> #541 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/swadloon" class="pname"> Swadloon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/swadlon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/541.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="leavanny">
                <h1 class="pnumber"> #542 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/leavanny" class="pname"> Leavanny</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/leavanny"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/542.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="venipede">
                <h1 class="pnumber"> #543 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/venipede" class="pname"> Venipede</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/venipede"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/543.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="whirlipede">
                <h1 class="pnumber"> #544 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/whilipede" class="pname">  Whirlipede</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/whirlipede"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/544.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="scolipede">
                <h1 class="pnumber"> #545 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/scolipede" class="pname"> Scolipede</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/scolipede"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/545.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="cottonee">
                <h1 class="pnumber"> #546 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cottonee" class="pname"> Cottonee</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cottone"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/546.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="whimsicott">
                <h1 class="pnumber"> #547 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/whimsicott" class="pname"> Whimsicott</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/whimsicott"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/547.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="petilil">
                <h1 class="pnumber"> #548 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/petilil" class="pname"> Petilil</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/petilil"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/548.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="lilligant">
                <h1 class="pnumber"> #549 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lilligant" class="pname"> Lilligant</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lilligant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/549.png" alt=""></a>
                    </div>
            </div>

            <div class="grass regForm" id="lilligantH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Lilligant</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/549_f2.png" alt="">
                </div>
            </div>
            
            <div class="water pokedex-box" id="basculin">
                <h1 class="pnumber"> #550 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/basculin" class="pname"> Basculin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/basculin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/550.png" alt=""></a>
                    </div>
            </div>

            <div class="water alter" id="basculinBF">
                <h1 class="pnumberA"> #550 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> Basculin <span class="spanA"> -blue stripped- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/550_f2.png" alt="">
                    </div>
            </div>

            <div class="water alter" id="basculinWF">
                <h1 class="pnumberA"> #550 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> Basculin <span class="spanA"> -white stripped- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/550_f3.png" alt="">
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="sandile">
                <h1 class="pnumber"> #551 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sandile" class="pname"> Sandile</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sandile"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/551.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="krokorok">
                <h1 class="pnumber"> #552 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/krokorok" class="pname"> Krokorok</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/krokorok"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/552.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="krookodile">
                <h1 class="pnumber"> #553 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/krookodile" class="pname"> Krookodile</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/krookodile"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/553.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="darumaka">
                <h1 class="pnumber"> #554 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/darumaka" class="pname"> Darumaka</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/darumaka"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/554.png" alt=""></a>
                    </div>
            </div>

            <div class="ice regForm" id="darumakaG">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameRmin"> Galarian Darumaka</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/554_f2.png" alt="">
                </div>
            </div>
            
            <div class="fire pokedex-box" id="darmanitan">
                <h1 class="pnumber"> #555 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/darmanitan" class="pname"> Darmanitan</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/darmanitan"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/555.png" alt=""></a>
                    </div>
            </div>

            <div class="psychic combatForm" id="darmanitanZF">
                <h1 class="pnumberC"> #555 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Darmanitan <span class="spanC"> -zen mode- </span></li>
                        <img class="pImgC" src="../../img/pokedex/555_f3.png" alt="">
                    </div>
            </div>

            <div class="ice regForm" id="darmanitanG">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameRmin"> Galarian Darmanitan</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/555_f2.png" alt="">
                </div>
            </div>

            <div class="grass pokedex-box" id="maractus">
                <h1 class="pnumber"> #556 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/maractus" class="pname"> Maractus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/maractus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/556.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="dwebble">
                <h1 class="pnumber"> #557 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dwebble" class="pname"> Dwebble</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dwebble"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/557.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="crustle">
                <h1 class="pnumber"> #558 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/crustle" class="pname"> Crustle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/crustle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/558.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="scraggy">
                <h1 class="pnumber"> #559 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/scraggy" class="pname"> Scraggy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/scraggy"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/559.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="scrafty">
                <h1 class="pnumber"> #560 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/scrafty" class="pname"> Scrafty</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/scrafty"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/560.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="sigilyph">
                <h1 class="pnumber"> #561 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sigilyph" class="pname"> Sigilyph</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sigilyph"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/561.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="yamask">
                <h1 class="pnumber"> #562 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/yamask" class="pname"> Yamask</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/yamask"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/562.png" alt=""></a>
                    </div>
            </div>

            <div class="ground regForm" id="yamaskG">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Galarian Yamask</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/562_f2.png" alt="">
                </div>
            </div>
            
            <div class="ghost pokedex-box" id="cofagrigus">
                <h1 class="pnumber"> #563 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cofagrigus" class="pname"> Cofagrigus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cofagrigus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/563.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="tirtouga">
                <h1 class="pnumber"> #564 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tirtouga" class="pname"> Tirtouga</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tirtouga"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/564.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="carracosta">
                <h1 class="pnumber"> #565 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/carracosta" class="pname"> Carracosta</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/carracosta"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/565.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="archen">
                <h1 class="pnumber"> #566 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/archen" class="pname"> Archen</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/archen"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/566.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="archeops">
                <h1 class="pnumber"> #567 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/archeops" class="pname"> Archeops</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/archeops"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/567.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="trubbish">
                <h1 class="pnumber"> #568 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/trubbish" class="pname"> Trubbish</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/trubbish"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/568.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="garbodor">
                <h1 class="pnumber"> #569 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/garbodor" class="pname"> Garbodor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/garbodor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/569.png" alt=""></a>
                    </div>
            </div>

            <div class="poison dmax" id="garbodordmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Garbodor <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/569_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="zorua">
                <h1 class="pnumber"> #570 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zorua" class="pname"> Zorua</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zorua"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/570.png" alt=""></a>
                    </div>
            </div>

            <div class="normal regForm" id="zoruaH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Zorua</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/570_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="zoroark">
                <h1 class="pnumber"> #571 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zoroark" class="pname"> Zoroark</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zoroark"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/571.png" alt=""></a>
                    </div>
            </div>

            <div class="normal regForm" id="zoroarkH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Zoroark</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/571_f2.png" alt="">
                </div>
            </div>
            
            <div class="normal pokedex-box" id="minccino">
                <h1 class="pnumber"> #572 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/minccino" class="pname"> Minccino</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/minccino"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/572.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="cinccino">
                <h1 class="pnumber"> #573 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cinccino" class="pname"> Cinccino</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cinccino"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/573.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="gothita">
                <h1 class="pnumber"> #574 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gothita" class="pname"> Gothita</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gothita"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/574.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="gothorita">
                <h1 class="pnumber"> #575 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gothorita" class="pname"> Gothorita</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gothorita"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/575.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="gothitelle">
                <h1 class="pnumber"> #576 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gothitelle" class="pname"> Gothitelle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gothitelle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/576.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="solosis">
                <h1 class="pnumber"> #577 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/solosis" class="pname"> Solosis</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/solosis"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/577.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="duosion">
                <h1 class="pnumber"> #578 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/duosion" class="pname"> Duosion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dousion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/578.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="reuniclus">
                <h1 class="pnumber"> #579 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/reuniclus" class="pname"> Reuniclus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/reuniclus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/579.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="ducklett">
                <h1 class="pnumber"> #580 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ducklett" class="pname"> Ducklett</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ducklett"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/580.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="swanna">
                <h1 class="pnumber"> #581 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/swanna" class="pname"> Swanna</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/swanna"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/581.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="vanillite">
                <h1 class="pnumber"> #582 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/vanillite" class="pname"> Vanillite</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/vanillite"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/582.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="vanillish">
                <h1 class="pnumber"> #583 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/vanillish" class="pname"> Vanillish</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/vanillish"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/583.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="vanilluxe">
                <h1 class="pnumber"> #584 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/vanilluxe" class="pname"> Vanilluxe</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/vanilluxe"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/584.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="deerling">
                <h1 class="pnumber"> #585 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/deerling" class="pname"> Deerling</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/deerling"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/585.png" alt=""></a>
                    </div>
            </div>

            <div class="normal alter" id="deerlingSF">
                <h1 class="pnumberA"> #585 </h1>
                    <div class="pokemon-data">
                        <li class="pnameA"> Deerling <span class="spanA"> -summer form- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/585_f2.png" alt="">
                    </div>
            </div>

            <div class="normal alter" id="deerlingAF">
                <h1 class="pnumberA"> #585 </h1>
                    <div class="pokemon-data">
                        <li class="pnameA"> Deerling <span class="spanA"> -autumn form- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/585_f3.png" alt="">
                    </div>
            </div>

            <div class="normal alter" id="deerlingWF">
                <h1 class="pnumberA"> #585 </h1>
                    <div class="pokemon-data">
                        <li class="pnameA"> Deerling <span class="spanA"> -winter form- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/585_f4.png" alt="">
                    </div>
            </div>

            <div class="normal pokedex-box" id="sawsbuck">
                <h1 class="pnumber"> #586 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sawsbuck" class="pname"> Sawsbuck</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sawsbuck"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/586.png" alt=""></a>
                    </div>
            </div>

            <div class="normal alter" id="sawsbuckSF">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> Sawsbuck <span class="spanAmin"> -summer form- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/586_f2.png" alt="">
                    </div>
            </div>

            <div class="normal alter" id="sawsbuckAF">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> Sawsbuck <span class="spanAmin"> -autumn form- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/586_f3.png" alt="">
                    </div>
            </div>

            <div class="normal alter" id="sawsbuckWF">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> Sawsbuck <span class="spanAmin"> -winter form- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/586_f4.png" alt="">
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="emolga">
                <h1 class="pnumber"> #587 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/emolga" class="pname"> Emolga</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/emolga"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/587.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="karrablast">
                <h1 class="pnumber"> #588 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/karrablast" class="pname"> Karrablast</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/karrablast"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/588.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="escavalier">
                <h1 class="pnumber"> #589 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/escavalier" class="pname"> Escavalier</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/escavalier"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/589.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="foongus">
                <h1 class="pnumber"> #590 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/foongus" class="pname"> Foongus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/foongus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/590.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="amoonguss">
                <h1 class="pnumber"> #591 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/amoonguss" class="pname"> Amoonguss</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/amoonguss"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/591.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="frillish">
                <h1 class="pnumber"> #592 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/frillish" class="pname"> Frillish</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/frillish"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/592.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="jellicent">
                <h1 class="pnumber"> #593 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/jellicent" class="pname"> Jellicent</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/jellicent"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/593.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="alomomola">
                <h1 class="pnumber"> #594 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/alomomola" class="pname"> Alomomola</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/alomomola"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/594.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="joltik">
                <h1 class="pnumber"> #595 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/joltik" class="pname"> Joltik</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/joltik"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/595.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="galvantula">
                <h1 class="pnumber"> #596 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/galvantula" class="pname"> Galvantula</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/galvantula"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/596.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="ferroseed">
                <h1 class="pnumber"> #597 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ferroseed" class="pname"> Ferroseed</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ferroseed"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/597.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="ferrothorn">
                <h1 class="pnumber"> #598 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ferrothorn" class="pname"> Ferrothorn</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ferrothorn"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/598.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="klink">
                <h1 class="pnumber"> #599 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/klink" class="pname"> Klink</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/klink"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/599.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="klang">
                <h1 class="pnumber"> #600 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/klang" class="pname"> Klang</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/klang"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/600.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="klinklang">
                <h1 class="pnumber"> #601 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/klinklang" class="pname"> Klinklang</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/klinklang"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/601.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="tynamo">
                <h1 class="pnumber"> #602 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tynamo" class="pname"> Tynamo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tynamo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/602.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="eelektrik">
                <h1 class="pnumber"> #603 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/eelektrik" class="pname"> Eelektrik</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/eelektrik"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/603.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="eelektross">
                <h1 class="pnumber"> #604 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/eelektross" class="pname"> Eelektross</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/eelektross"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/604.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="elgyem">
                <h1 class="pnumber"> #605 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/elgyem" class="pname"> Elgyem</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/elgyem"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/605.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="beheeyem">
                <h1 class="pnumber"> #606 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/beheeyem" class="pname"> Beheeyem</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/beheeyem"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/606.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="litwick">
                <h1 class="pnumber"> #607 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/litwick" class="pname"> Litwick</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/litwick"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/607.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="lampent">
                <h1 class="pnumber"> #608 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/lampent" class="pname"> Lampent</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/lampent"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/608.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="chandelure">
                <h1 class="pnumber"> #609 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chandelure" class="pname"> Chandelure</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chandelure"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/609.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="axew">
                <h1 class="pnumber"> #610 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/axew" class="pname"> Axew</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/axew"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/610.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="fraxure">
                <h1 class="pnumber"> #611 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/fraxure" class="pname"> Fraxure</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/fraxure"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/611.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="haxorus">
                <h1 class="pnumber"> #612 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/haxorus" class="pname"> Haxorus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/haxorus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/612.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="cubchoo">
                <h1 class="pnumber"> #613 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cubchoo" class="pname"> Cubchoo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cubchoo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/613.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="beartic">
                <h1 class="pnumber"> #614 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/beartic" class="pname"> Beartic</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/beartic"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/614.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="cryogonal">
                <h1 class="pnumber"> #615 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cryogonal" class="pname"> Cryogonal</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cryogonal"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/615.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="shelmet">
                <h1 class="pnumber"> #616 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/shelmet" class="pname"> Shelmet</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/shelmet"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/616.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="accelgor">
                <h1 class="pnumber"> #617 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/accelgor" class="pname"> Accelgor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/accelgor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/617.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="stunfisk">
                <h1 class="pnumber"> #618 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/stunfisk" class="pname"> Stunfisk</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/stunfisk"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/618.png" alt=""></a>
                    </div>
            </div>

            <div class="ground regForm" id="stunfiskG">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Stunfisk</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/618_f2.png" alt="">
                </div>
            </div>
            
            <div class="fight pokedex-box" id="mienfoo">
                <h1 class="pnumber"> #619 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mienfoo" class="pname"> Mienfoo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mienfoo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/619.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="mienshao">
                <h1 class="pnumber"> #620 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mienshao" class="pname"> Mienshao</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mienshao"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/620.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="druddigon">
                <h1 class="pnumber"> #621 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/druddigon" class="pname"> Druddigon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/druddigon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/621.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="golett">
                <h1 class="pnumber"> #622 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/golett" class="pname"> Golett</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/golett"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/622.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="golurk">
                <h1 class="pnumber"> #623 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/golurk" class="pname"> Golurk</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/golurk"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/623.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="pawniard">
                <h1 class="pnumber"> #624 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pawniard" class="pname"> Pawniard</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pawniard"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/624.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="bisharp">
                <h1 class="pnumber"> #625 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bisharp" class="pname"> Bisharp</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bisharp"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/625.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="bouffalant">
                <h1 class="pnumber"> #626 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bouffalant" class="pname"> Bouffalant</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bouffalant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/626.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="rufflet">
                <h1 class="pnumber"> #627 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/rufflet" class="pname"> Rufflet</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/rufflet"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/627.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="braviary">
                <h1 class="pnumber"> #628 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/braviary" class="pname"> Braviary</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/braviary"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/628.png" alt=""></a>
                    </div>
            </div>

            <div class="psychic regForm" id="braviaryH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Braviary</li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/628_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="vullaby">
                <h1 class="pnumber"> #629 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/vullaby" class="pname"> Vullaby</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/vullaby"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/629.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="mandibuzz">
                <h1 class="pnumber"> #630 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mandibuzz" class="pname"> Mandibuzz</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mandibuzz"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/630.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="heatmor">
                <h1 class="pnumber"> #631 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/heatmor" class="pname"> Heatmor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/heatmor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/631.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="durant">
                <h1 class="pnumber"> #632 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/durant" class="pname"> Durant</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/durant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/632.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="deino">
                <h1 class="pnumber"> #633 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/deino" class="pname"> Deino</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/deino"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/633.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="zweilous">
                <h1 class="pnumber"> #634 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zweilous" class="pname"> Zweilous</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zweilous"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/634.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="hydreigon">
                <h1 class="pnumber"> #635 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hydreigon" class="pname"> Hydreigon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hydreigon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/635.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="larvesta">
                <h1 class="pnumber"> #636 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/larvesta" class="pname"> Larvesta</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/larvesta"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/636.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="volcarona">
                <h1 class="pnumber"> #637 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/volcarona" class="pname"> Volcarona</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/volcarona"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/637.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="cobalion">
                <h1 class="pnumber"> #638 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cobalion" class="pname"> Cobalion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cobalion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/638.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="terrakion">
                <h1 class="pnumber"> #639 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/terrakion" class="pname"> Terrakion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/terrakion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/639.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="virizion">
                <h1 class="pnumber"> #640 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/virizion" class="pname"> Virizion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/virizion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/640.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fly pokedex-box" id="tornadus">
                <h1 class="pnumber"> #641 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tornadus" class="pname"> Tornadus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tornadus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/641.png" alt=""></a>
                    </div>
            </div>

            <div class="fly combatForm" id="tornadusTF">
                <h1 class="pnumberC"> #641 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Tornadus <span class="spanCmin"> -therian form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/641_f2.png" alt="">
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="thundurus">
                <h1 class="pnumber"> #642 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/thundurus" class="pname"> Thundurus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/thundurus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/642.png" alt=""></a>
                    </div>
            </div>

            <div class="electric combatForm" id="thundurusTF">
                <h1 class="pnumberC"> #642 </h1>
                    <div class="pokemon-data">
                        <li class="pnameCmin"> Thundurus <span class="spanCmin"> -therian form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/642_f2.png" alt="">
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="reshiram">
                <h1 class="pnumber"> #643 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/reshiram" class="pname"> Reshiram</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/reshiram"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/643.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="zekrom">
                <h1 class="pnumber"> #644 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zekrom" class="pname"> Zekrom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zekrom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/644.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="landorus">
                <h1 class="pnumber"> #645 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/landorus" class="pname"> Landorus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/landorus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/645.png" alt=""></a>
                    </div>
            </div>

            <div class="ground combatForm" id="landorusTF">
                <h1 class="pnumberC"> #645 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Landorus <span class="spanCmin"> -therian form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/645_f2.png" alt="">
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="kyurem">
                <h1 class="pnumber"> #646 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/kyurem" class="pname"> Kyurem</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/kyurem"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/646.png" alt=""></a>
                    </div>
            </div>

            <div class="dragon combatForm" id="kyuremWF">
                <h1 class="pnumberC"> #646 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Kyurem <span class="spanC"> -white form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/646_f2.png" alt="">
                    </div>
            </div>

            <div class="dragon combatForm" id="kyuremBF">
                <h1 class="pnumberC"> #646 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Kyurem <span class="spanC"> -black form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/646_f3.png" alt="">
                    </div>
            </div>
            
            <div class="water pokedex-box" id="keldeo">
                <h1 class="pnumber"> #647 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/keldeo" class="pname"> Keldeo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/keldeo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/647.png" alt=""></a>
                    </div>
            </div>

            <div class="water combatForm" id="keldeoRF">
                <h1 class="pnumberC"> #647 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Keldeo <span class="spanC"> -resolute form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/647_f2.png" alt="">
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="meloetta">
                <h1 class="pnumber"> #648 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/meloetta" class="pname"> Meloetta</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/meloetta"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/648.png" alt=""></a>
                    </div>
            </div>

            <div class="normal combatForm" id="meloettaPF">
                <h1 class="pnumberC"> #648 </h1>
                    <div class="pokemon-data">
                        <li class="pnameCmin"> Meloetta <span class="spanCmin"> -pirouette form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/648_f2.png" alt="">
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="genesect">
                <h1 class="pnumber"> #649 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/genesect" class="pname"> Genesect</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/genesect"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/649.png" alt=""></a>
                    </div>
            </div>