
            <div class="grass pokedex-box" id="chespin">
                <h1 class="pnumber"> #650 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chespin" class="pname"> Chespin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chespin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/650.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="quilladin">
                <h1 class="pnumber"> #651 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/quilladin" class="pname"> Quilladin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/quilladin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/651.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="grass pokedex-box" id="chesnaught">
                <h1 class="pnumber"> #652 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chesnaught" class="pname"> Chesnaught</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chesnaught"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/652.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="fennekin">
                <h1 class="pnumber"> #653 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/fennekin" class="pname"> Fennekin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/fennekin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/653.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="braixen">
                <h1 class="pnumber"> #654 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/braixen" class="pname"> Braixen</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/braixen"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/654.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="delphox">
                <h1 class="pnumber"> #655 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/delphox" class="pname"> Delphox</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/delphox"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/655.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="froakie">
                <h1 class="pnumber"> #656 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/froakie" class="pname"> Froakie</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/froakie"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/656.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="frogadier">
                <h1 class="pnumber"> #657 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/frogadier" class="pname"> Frogadier</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/frogadier"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/657.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="water pokedex-box" id="greninja">
                <h1 class="pnumber"> #658 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/greninja" class="pname"> Greninja</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/greninja"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/658.png" alt=""></a>
                    </div>
            </div>

            <div class="water mega" id="ashgreninja">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Ash Greninja</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/658_f2.png" alt="">
                </div>
            </div>
            
            <div class="normal pokedex-box" id="bunnelby">
                <h1 class="pnumber"> #659 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bunnelby" class="pname"> Bunnelby</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bunnelby"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/659.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="diggersby">
                <h1 class="pnumber"> #660 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/diggersby" class="pname"> Diggersby</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/diggersby"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/660.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="fletchling">
                <h1 class="pnumber"> #661 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/fletchling" class="pname"> Fletchling</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/fletchling"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/661.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="fletchinder">
                <h1 class="pnumber"> #662 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/fletchinder" class="pname"> Fletchinder</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/fletchinder"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/662.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="fire pokedex-box" id="talonflame">
                <h1 class="pnumber"> #663 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/talonflame" class="pname"> Talonflame</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/talonflame"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/663.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="scatterbug">
                <h1 class="pnumber"> #664 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/scatterbug" class="pname"> Scatterbug</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/scatterbug"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/664.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="spewpa">
                <h1 class="pnumber"> #665 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/spewpa" class="pname"> Spewpa</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/spewpa"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/665.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="vivillon">
                <h1 class="pnumber"> #666 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/vivillon" class="pname"> Vivillon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/vivillon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/666.png" alt=""></a>
                    </div>
            </div>

            <div class="bug alter" id="vivillonCW">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> vivillon <span class="spanAmin"> -continental wings- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/666_f2.png" alt="">
                    </div>
            </div>

            <div class="bug alter" id="vivillonOW">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> vivillon <span class="spanAmin"> -orchard wings- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/666_f3.png" alt="">
                    </div>
            </div>

            <div class="bug alter" id="vivillonOrW">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> vivillon <span class="spanAmin"> -oriental wings- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/666_f4.png" alt="">
                    </div>
            </div>

            <div class="bug alter" id="vivillonMW">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> vivillon <span class="spanAmin"> -marine wings- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/666_f5.png" alt="">
                    </div>
            </div>

            <div class="bug alter" id="vivillonSW">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> vivillon <span class="spanAmin"> -steppe wings- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/666_f6.png" alt="">
                    </div>
            </div>

            <div class="bug alter" id="vivillonOaW">
                <h1 class="pnumberA"> #586 </h1>
                    <div class="pokemon-data">
                        <li class="pnameAmin"> vivillon <span class="spanAmin"> -oasis wings- </span></li>
                        <img class="pImgA" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/666_f7.png" alt="">
                    </div>
            </div>

            <div class="fire pokedex-box" id="litleo">
                <h1 class="pnumber"> #667 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/litleo" class="pname"> Litleo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/litleo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/667.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="fire pokedex-box" id="pyroar">
                <h1 class="pnumber"> #668 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pyroar" class="pname"> Pyroar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pyroar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/668.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="flabebe">
                <h1 class="pnumber"> #669 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/flabebe" class="pname"> Flabébé</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/flabebe"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/669.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="floette">
                <h1 class="pnumber"> #670 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/floette" class="pname"> Floette</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/floette"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/670.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="florges">
                <h1 class="pnumber"> #671 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/florges" class="pname"> Florges</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/florges"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/671.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="skiddo">
                <h1 class="pnumber"> #672 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/skiddo" class="pname"> Skiddo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/skiddo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/672.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="grass pokedex-box" id="gogoat">
                <h1 class="pnumber"> #673 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gogoat" class="pname"> Gogoat</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gogoat"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/673.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="pancham">
                <h1 class="pnumber"> #674 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pancham" class="pname"> Pancham</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pancham"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/674.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="pangoro">
                <h1 class="pnumber"> #675 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pangoro" class="pname"> Pangoro</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pangoro"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/675.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="furfrou">
                <h1 class="pnumber"> #676 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/furfrou" class="pname"> Furfrou</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/furfrou"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/676.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="espurr">
                <h1 class="pnumber"> #677 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/espurr" class="pname"> Espurr</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/espurr"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/677.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="psychic pokedex-box" id="meowstic">
                <h1 class="pnumber"> #678 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/meowstic" class="pname"> Meowstic</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/meowstic"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/678.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="honedge">
                <h1 class="pnumber"> #679 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/honedge" class="pname"> Honedge</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/honedge"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/679.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="doublade">
                <h1 class="pnumber"> #680 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/doublade" class="pname"> Doublade</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/doublade"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/680.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="aegislash">
                <h1 class="pnumber"> #681 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/aegislash" class="pname"> Aegislash</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/aegislash"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/681.png" alt=""></a>
                    </div>
            </div>

            <div class="steel combatForm" id="aegislashSF">
                <h1 class="pnumberC"> #681 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Aegislash <span class="spanC"> -shield form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/681_f2.png" alt="">
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="spritzee">
                <h1 class="pnumber"> #682 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/spritzee" class="pname"> Spritzee</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/spritzee"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/682.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="fairy pokedex-box" id="aromatisse">
                <h1 class="pnumber"> #683 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/aromatisse" class="pname"> Aromatisse</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/aromatisse"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/683.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="swirlix">
                <h1 class="pnumber"> #684 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/swirlix" class="pname"> Swirlix</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/swirlix"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/684.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="slurpuff">
                <h1 class="pnumber"> #685 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/slurpuff" class="pname"> Slurpuff</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/slurpuff"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/685.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="inkay">
                <h1 class="pnumber"> #686 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/inkay" class="pname"> Inkay</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/inkay"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/686.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="malamar">
                <h1 class="pnumber"> #687 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/malamar" class="pname"> Malamar</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/malamar"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/687.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="rock pokedex-box" id="binacle">
                <h1 class="pnumber"> #688 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/binacle" class="pname"> Binacle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/binacle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/688.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="barbaracle">
                <h1 class="pnumber"> #689 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/barbaracle" class="pname"> Barbaracle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/barbaracle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/689.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="skrelp">
                <h1 class="pnumber"> #690 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/skrelp" class="pname"> Skrelp</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/skrelp"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/690.png" alt=""></a>
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="dragalge">
                <h1 class="pnumber"> #691 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dragalge" class="pname"> Dragalge</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dragalge"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/691.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="clauncher">
                <h1 class="pnumber"> #692 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/clauncher" class="pname"> Clauncher</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/clauncher"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/692.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="water pokedex-box" id="clawitzer">
                <h1 class="pnumber"> #693 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/clawitzer" class="pname"> Clawitzer</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/clawitzer"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/693.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="helioptile">
                <h1 class="pnumber"> #694 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/helioptile" class="pname"> Helioptile</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/helioptile"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/694.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="heliolisk">
                <h1 class="pnumber"> #695 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/heliolisk" class="pname"> Heliolisk</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/heliolisk"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/695.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="tyrunt">
                <h1 class="pnumber"> #696 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tyrunt" class="pname"> Tyrunt</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tyrunt"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/696.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="tyrantrum">
                <h1 class="pnumber"> #697 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/tyrantrum" class="pname"> Tyrantrum</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/tyrantrum"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/697.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="rock pokedex-box" id="amaura">
                <h1 class="pnumber"> #698 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/amaura" class="pname"> Amaura</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/amaura"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/698.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="aurorus">
                <h1 class="pnumber"> #699 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/aurorus" class="pname"> Aurorus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/aurorus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/699.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="sylveon">
                <h1 class="pnumber"> #700 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sylveon" class="pname"> Sylveon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sylveon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/700.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="hawlucha">
                <h1 class="pnumber"> #701 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hawlucha" class="pname"> Hawlucha</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hawlucha"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/701.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="dedenne">
                <h1 class="pnumber"> #702 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dedenne" class="pname"> Dedenne</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dedenne"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/702.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="carbink">
                <h1 class="pnumber"> #703 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/carbink" class="pname"> Carbink</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/carbink"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/703.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="goomy">
                <h1 class="pnumber"> #704 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/goomy" class="pname"> Goomy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/goomy"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/704.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="sliggoo">
                <h1 class="pnumber"> #705 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sliggoo" class="pname"> Sliggoo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sliggoo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/705.png" alt=""></a>
                    </div>
            </div>

            <div class="dragon regForm" id="sliggooH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian sliggoo </li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/705_f2.png" alt="">
                </div>
            </div>
            
            <div class="dragon pokedex-box" id="goodra">
                <h1 class="pnumber"> #706 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/goodra" class="pname"> Goodra</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/goodra"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/706.png" alt=""></a>
                    </div>
            </div>

            <div class="dragon regForm" id="goodraH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Goodra </li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/706_f2.png" alt="">
                </div>
            </div>
            
            <div class="steel pokedex-box" id="klefki">
                <h1 class="pnumber"> #707 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/klefki" class="pname"> Klefki</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/klefki"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/707.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="phantump">
                <h1 class="pnumber"> #708 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/phantump" class="pname"> Phantump</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/phantump"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/708.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="trevenant">
                <h1 class="pnumber"> #709 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/trevenant" class="pname"> Trevenant</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/trevenant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/709.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="pumpkaboo">
                <h1 class="pnumber"> #710 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pumpkaboo" class="pname"> Pumpkaboo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pumpkaboo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/710.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="gougeist">
                <h1 class="pnumber"> #711 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gourgeist" class="pname"> Gourgeist</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gourgeist"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/711.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="bergmite">
                <h1 class="pnumber"> #712 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/bergmite" class="pname"> Bergmite</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/bergmite"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/712.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="avalugg">
                <h1 class="pnumber"> #713 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/avalugg" class="pname"> Avalugg</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/avalugg"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/713.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice regForm" id="avaluggH">
                <h1 class="pnumberR"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameR"> Hisuian Avalugg </li>
                        <img class= "pImgR" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/713_f2.png" alt="">
                </div>
            </div>

            <div class="fly pokedex-box" id="noibat">
                <h1 class="pnumber"> #714 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/noibat" class="pname"> Noibat</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/noibat"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/714.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fly pokedex-box" id="noivern">
                <h1 class="pnumber"> #715 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/noivern" class="pname"> Noivern</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/noivern"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/715.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="xerneas">
                <h1 class="pnumber"> #716 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/xerneas" class="pname"> Xerneas</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/xerneas"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/716.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="yveltal">
                <h1 class="pnumber"> #717 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/yveltal" class="pname"> Yveltal</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/yveltal"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/717.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="zygarde">
                <h1 class="pnumber"> #718 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zygarde" class="pname"> Zygarde</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zygarde"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/718.png" alt=""></a>
                    </div>
            </div>

            <div class="dragon combatForm" id="zygardeIF">
                <h1 class="pnumberC"> #718 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Zygarde <span class="spanC"> -10% form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/718_f2.png" alt="">
                    </div>
            </div>

            <div class="dragon combatForm" id="zygardeCF">
                <h1 class="pnumberC"> #718 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Zygarde <span class="spanC"> -100% form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/718_f3.png" alt="">
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="diancie">
                <h1 class="pnumber"> #719 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/diancie" class="pname"> Diancie</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/diancie"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/719.png" alt=""></a>
                    </div>
            </div>

            <div class="rock mega" id="megadiancie">
                <h1 class="pnumberM"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameM"> Mega-Diancie</li>
                        <img class= "pImgM" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/719_f2.png" alt="">
                </div>
            </div>
            
            <div class="psychic pokedex-box" id="hoopa">
                <h1 class="pnumber"> #720 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hoopa" class="pname"> Hoopa</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hoopa"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/720.png" alt=""></a>
                    </div>
            </div>

            <div class="psychic combatForm" id="hoopaUF">
                <h1 class="pnumberC"> #720 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Hoopa <span class="spanC"> -unbound form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/720_f2.png" alt="">
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="volcanion">
                <h1 class="pnumber"> #721 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/volcanion" class="pname"> Volcanion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/volcanion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/721.png" alt=""></a>
                    </div>
            </div>