
            <div class="grass pokedex-box" id="grookey"> 
                <h1 class="pnumber"> #810 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/grookey" class="pname"> Grookey</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/grookey"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/810.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="thwackey"> 
                <h1 class="pnumber"> #811 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/thwackey" class="pname"> Thwackey</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/thwackey"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/811.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="rillaboom"> 
                <h1 class="pnumber"> #812 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/rillaboom" class="pname"> Rillaboom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/rillaboom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/812.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass dmax" id="rillaboomdmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Rillaboom <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/812_f2.png" alt="">
                </div>
            </div>

            <div class="fire pokedex-box" id="scorbunny"> 
                <h1 class="pnumber"> #813 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/scorbunny" class="pname"> Scorbunny</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/scorbunny"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/813.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="raboot"> 
                <h1 class="pnumber"> #814 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/raboot" class="pname"> Raboot</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/raboot"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/814.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="cinderace"> 
                <h1 class="pnumber"> #815 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cinderace" class="pname">  Cinderace</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cinderace"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/815.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire dmax" id="cinderancedmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Cinderance <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/815_f2.png" alt="">
                </div>
            </div>

            <div class="water pokedex-box" id="sobble"> 
                <h1 class="pnumber"> #816 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sobble" class="pname"> Sobble</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sobble"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/816.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="drizzile"> 
                <h1 class="pnumber"> #817 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/drizzile" class="pname"> Drizzile</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/drizzile"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/817.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="inteleon"> 
                <h1 class="pnumber"> #818 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/inteleon" class="pname"> Inteleon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/inteleon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/818.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water dmax" id="inteleondmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Inteleon <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/818_f2.png" alt="">
                </div>
            </div>

            <div class="normal pokedex-box" id="skwovet"> 
                <h1 class="pnumber"> #819 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/skwovet" class="pname"> Skwovet</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/skwovet"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/819.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="greedent"> 
                <h1 class="pnumber"> #820 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/greedent" class="pname"> Greedent</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/greedent"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/820.png" alt=""></a>
                    </div>
            </div>
            
            
            <div class="fly pokedex-box" id="rookidee"> 
                <h1 class="pnumber"> #821 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/rookidee" class="pname"> Rookidee</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/rookidee"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/821.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fly pokedex-box" id="corvisquire"> 
                <h1 class="pnumber"> #822 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/corvisquire" class="pname"> Corvisquire</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/corvisquire"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/822.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fly pokedex-box" id="corviknight"> 
                <h1 class="pnumber"> #823 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/corviknight" class="pname"> Corviknight</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/corviknight"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/823.png" alt=""></a>
                    </div>
            </div>

            <div class="fly dmax" id="corviknightdmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Corviknight <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/823_f2.png" alt="">
                </div>
            </div>
            
            <div class="bug pokedex-box" id="blipbug"> 
                <h1 class="pnumber"> #824 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/blipbug" class="pname"> Blipbug</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/blipbug"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/824.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="dottler"> 
                <h1 class="pnumber"> #825 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dottler" class="pname"> Dottler</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dottler"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/825.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="orbeetle"> 
                <h1 class="pnumber"> #826 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/orbeetle" class="pname"> Orbeetle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/orbeetle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/826.png" alt=""></a>
                    </div>
            </div>

            <div class="bug dmax" id="orbeetledmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Orbeetle <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/826_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="nickit"> 
                <h1 class="pnumber"> #827 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/nickit" class="pname"> Nickit</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/nickit"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/827.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="thievul"> 
                <h1 class="pnumber"> #828 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/thievul" class="pname"> Thievul</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/thievul"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/828.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="gossifleur"> 
                <h1 class="pnumber"> #829 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/gossifleur" class="pname"> Gossifleur</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/gossifleur"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/829.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="eldegoss"> 
                <h1 class="pnumber"> #830 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/eldegoss" class="pname"> Eldegoss</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/eldegoss"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/830.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="wooloo"> 
                <h1 class="pnumber"> #831 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/wooloo" class="pname"> Wooloo</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/wooloo"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/831.png" alt=""></a>
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="dubwool"> 
                <h1 class="pnumber"> #832 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dubwool" class="pname"> Dubwool</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dubwool"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/832.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="chewtle"> 
                <h1 class="pnumber"> #833 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/chewtle" class="pname"> Chewtle</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/chewtle"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/833.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="drednaw"> 
                <h1 class="pnumber"> #834 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/drednaw" class="pname"> Drednaw</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/drednaw"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/834.png" alt=""></a>
                    </div>
            </div>

            <div class="water dmax" id="drednawdmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Drednaw <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/834_f2.png" alt="">
                </div>
            </div>
            
            <div class="electric pokedex-box" id="yamper"> 
                <h1 class="pnumber"> #835 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/yamper" class="pname"> Yamper</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/yamper"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/835.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="boltund"> 
                <h1 class="pnumber"> #836 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/boltund" class="pname"> Boltund</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/boltund"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/836.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="rolycoly"> 
                <h1 class="pnumber"> #837 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/rolycoly" class="pname"> Rolycoly</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/rolycoly"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/837.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="carkol"> 
                <h1 class="pnumber"> #838 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/carkol" class="pname"> Carkol</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/carkol"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/838.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="coalossal"> 
                <h1 class="pnumber"> #839 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/coalossal" class="pname"> Coalossal</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/coalossal"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/839.png" alt=""></a>
                    </div>
            </div>

            <div class="rock dmax" id="coalossaldmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Coalossal <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/839_f2.png" alt="">
                </div>
            </div>
            
            <div class="grass pokedex-box" id="applin"> 
                <h1 class="pnumber"> #840 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/applin" class="pname"> Applin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/applin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/840.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="flapple"> 
                <h1 class="pnumber"> #841 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/flapple" class="pname"> Flapple</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/flapple"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/841.png" alt=""></a>
                    </div>
            </div>
            
            <div class="grass pokedex-box" id="appletun"> 
                <h1 class="pnumber"> #842 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/appletun" class="pname"> Appletun</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/appletun"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/842.png" alt=""></a>
                    </div>
            </div>

            <div class="grass dmax" id="appletundmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Appletun <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/842_f2.png" alt="">
                </div>
            </div>
            
            <div class="ground pokedex-box" id="silicobra"> 
                <h1 class="pnumber"> #843 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/silicobra" class="pname"> Silicobra</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/silicobra"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/843.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="sandaconda"> 
                <h1 class="pnumber"> #844 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sandaconda" class="pname"> Sandaconda</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sandaconda"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/844.png" alt=""></a>
                    </div>
            </div>

            <div class="ground dmax" id="sandacondadmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Sandaconda <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/844_f2.png" alt="">
                </div>
            </div>
            
            <div class="fly pokedex-box" id="cramorant"> 
                <h1 class="pnumber"> #845 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cramorant" class="pname"> Cramorant</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cramorant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/845.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="arrokuda"> 
                <h1 class="pnumber"> #846 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/arrokuda" class="pname"> Arrokuda</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/arrokuda"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/846.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="barraskewda"> 
                <h1 class="pnumber"> #847 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/barraskewda" class="pname"> Barraskewda</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/barraskewda"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/847.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="toxel"> 
                <h1 class="pnumber"> #848 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/toxel" class="pname"> Toxel</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/toxel"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/848.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="toxtricity"> 
                <h1 class="pnumber"> #849 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/toxtricity" class="pname"> Toxtricity</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/toxtricity"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/849.png" alt=""></a>
                    </div>
            </div>

            <div class="electric combatForm" id="toxtricityAF">
                <h1 class="pnumberC"> #849 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Toxtricity <span class="spanCmin"> -amped form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/849_f2.png" alt="">
                    </div>
            </div>

            <div class="electric dmax" id="toxtricitydmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Toxtricity <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/849_f3.png" alt="">
                </div>
            </div>
            
            <div class="fire pokedex-box" id="sizzlipede"> 
                <h1 class="pnumber"> #850 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sizzlipede" class="pname"> Sizzlipede</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sizzlipede"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/850.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fire pokedex-box" id="centiskorch"> 
                <h1 class="pnumber"> #851 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/centiskorch" class="pname"> Centiskorch</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/centiskorch"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/851.png" alt=""></a>
                    </div>
            </div>

            <div class="fire dmax" id="centiskorchdmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameDmin"> Centiskorch <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/851_f2.png" alt="">
                </div>
            </div>
            
            <div class="fight pokedex-box" id="clobbopus"> 
                <h1 class="pnumber"> #852 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/clobbopus" class="pname"> Clobbopus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/clobbopus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/852.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="grapploct"> 
                <h1 class="pnumber"> #853 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/grapploct" class="pname"> Grapploct</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/grapploct"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/853.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="sinistea"> 
                <h1 class="pnumber"> #854 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sinistea" class="pname"> Sinistea</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sinistea"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/854.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="polteageist"> 
                <h1 class="pnumber"> #855 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/polteageist" class="pname"> Polteageist</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/polteageist"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/855.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="hatenna"> 
                <h1 class="pnumber"> #856 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hatenna" class="pname">  Hatenna</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hattenna"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/856.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="hattrem"> 
                <h1 class="pnumber"> #857 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hattrem" class="pname"> Hattrem</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hattrem"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/857.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="hatterene"> 
                <h1 class="pnumber"> #858 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/hatterene" class="pname"> Hatterene</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/hatterene"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/858.png" alt=""></a>
                    </div>
            </div>

            <div class="psychic dmax" id="hatterenedmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Hatterene<span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/858_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="impidimp"> 
                <h1 class="pnumber"> #859 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/impidimp" class="pname"> Impidimp</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/impidimp"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/859.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="morgrem"> 
                <h1 class="pnumber"> #860 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/morgrem" class="pname"> Morgrem</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/morgrem"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/860.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="grimmsnarl"> 
                <h1 class="pnumber"> #861 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/grimmsnarl" class="pname"> Grimmsnarl</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/grimmsnarl"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/861.png" alt=""></a>
                    </div>
            </div>

            <div class="dark dmax" id="grimmsnarldmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Grimmsnarl <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/861_f2.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="obstagoon"> 
                <h1 class="pnumber"> #862 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/obstagoon" class="pname"> Obstagoon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/obstagoon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/862.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="perrserker"> 
                <h1 class="pnumber"> #863 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/perrserker" class="pname"> Perrserker</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/perrserker"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/863.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="cursola"> 
                <h1 class="pnumber"> #864 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cursola" class="pname"> Cursola</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cursola"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/864.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="sirfetchd"> 
                <h1 class="pnumber"> #865 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sirfetchd" class="pname"> Sirfetch&#39;d</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sirfetchd"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/865.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="mrrime"> 
                <h1 class="pnumber"> #866 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/mr-rime" class="pname"> Mr. Rime</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/mr-rime"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/866.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="runerigus"> 
                <h1 class="pnumber"> #867 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/runerigus" class="pname"> Runerigus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/runerigus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/867.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="milcery"> 
                <h1 class="pnumber"> #868 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/milcery" class="pname"> Milcery</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/milcery"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/868.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="alcremie"> 
                <h1 class="pnumber"> #869 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/alcremie" class="pname">  Alcremie</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/alcreamie"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/869.png" alt=""></a>
                    </div>
            </div>

            <div class="fairy dmax" id="alcremiedmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Alcremie <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/869_f2.png" alt="">
                </div>
            </div>
            
            <div class="fight pokedex-box" id="falinks"> 
                <h1 class="pnumber"> #870 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/falinks" class="pname"> Falinks</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/falinks"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/870.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="pincurchin"> 
                <h1 class="pnumber"> #871 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/pincurchin" class="pname">  Pincurchin</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/pinchurchin"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/871.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="snom"> 
                <h1 class="pnumber"> #872 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/snom" class="pname"> Snom</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/snom"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/872.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="frosmoth"> 
                <h1 class="pnumber"> #873 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/frosmoth" class="pname"> Frosmoth</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/frosmoth"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/873.png" alt=""></a>
                    </div>
            </div>
            
            <div class="rock pokedex-box" id="stonjourner"> 
                <h1 class="pnumber"> #874 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/stonjourner" class="pname"> Stonjourner</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/stonjourner"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/874.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="eiscue"> 
                <h1 class="pnumber"> #875 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/eiscue" class="pname"> Eiscue</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/eiscue"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/875.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="indeedee"> 
                <h1 class="pnumber"> #876 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/indeedee" class="pname"> Indeedee</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/indeedee"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/876.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="morpeko"> 
                <h1 class="pnumber"> #877 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/morpeko" class="pname"> Morpeko</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/morpeko"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/877.png" alt=""></a>
                    </div>
            </div>

            <div class="electric combatForm" id="morpekoHM">
                <h1 class="pnumberC"> #877 </h1>
                    <div class="pokemon-data">
                        <li class="pnameCmin"> Morkpeko <span class="spanCmin"> -hangry mode- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/877_f2.png" alt="">
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="cufant"> 
                <h1 class="pnumber"> #878 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/cufant" class="pname"> Cufant</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/cufant"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/878.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="copperajah"> 
                <h1 class="pnumber"> #879 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/copperajah" class="pname"> Copperajah</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/copperajah"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/879.png" alt=""></a>
                    </div>
            </div>

            <div class="steel dmax" id="copperajahdmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Copperajah <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/879_f2.png" alt="">
                </div>
            </div>
            
            <div class="electric pokedex-box" id="dracozolt"> 
                <h1 class="pnumber"> #880 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dracozolt" class="pname"> Dracozolt</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dracozolt"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/880.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="arctozolt"> 
                <h1 class="pnumber"> #881 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/arctozolt" class="pname"> Arctozolt</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/actozolt"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/881.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="dracovish"> 
                <h1 class="pnumber"> #882 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dracovish" class="pname"> Dracovish</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dracovish"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/882.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="arctovish"> 
                <h1 class="pnumber"> #883 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/arctovish" class="pname"> Arctovish</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/actovish"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/883.png" alt=""></a>
                    </div>
            </div>
            
            <div class="steel pokedex-box" id="duraludon"> 
                <h1 class="pnumber"> #884 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/duraludon" class="pname"> Duraludon</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/duraludon"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/884.png" alt=""></a>
                    </div>
            </div>

            <div class="steel dmax" id="duraludondmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Duraludon <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/884_f2.png" alt="">
                </div>
            </div>
            
            <div class="dragon pokedex-box" id="drappy"> 
                <h1 class="pnumber"> #885 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dreepy" class="pname"> Dreepy</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dreepy"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/885.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="drakloak"> 
                <h1 class="pnumber"> #886 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/drakloak" class="pname"> Drakloak</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/drakloak"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/886.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="dragapult"> 
                <h1 class="pnumber"> #887 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/dragapult" class="pname"> Dragapult</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/dragapult"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/887.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="zacian"> 
                <h1 class="pnumber"> #888 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zacian" class="pname"> Zacian</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zacian"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/888.png" alt=""></a>
                    </div>
            </div>

            <div class="fairy combatForm" id="zacianSwF">
                <h1 class="pnumberC"> #888 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Zacian <span class="spanCmin"> -sword form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/888_f2.png" alt="">
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="zamazenta"> 
                <h1 class="pnumber"> #889 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zamazenta" class="pname"> Zamazenta</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zamazenta"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/889.png" alt=""></a>
                    </div>
            </div>

            <div class="fight combatForm" id="zamazentaShF">
                <h1 class="pnumberC"> #889 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Zamazenta <span class="spanCmin"> -shield form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/889_f2.png" alt="">
                    </div>
            </div>
            
            <div class="poison pokedex-box" id="eternatus"> 
                <h1 class="pnumber"> #890 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/eternatus" class="pname"> Eternatus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/eternatus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/890.png" alt=""></a>
                    </div>
            </div>

            <div class="poison combatForm" id="eternatusID">
                <h1 class="pnumberC"> #890 </h1>
                    <div class="pokemon-data">
                        <li class="pnameCmin"> Eternatus <span class="spanCmin"> -infinite dmax- </span></li>
                        <img class="pImgC" src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/0/00/latest/20200214192723/Eternatus_Dinamax_infinito_HOME.png/200px-Eternatus_Dinamax_infinito_HOME.png" alt="">
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="kubfu"> 
                <h1 class="pnumber"> #891 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/kubfu" class="pname"> Kubfu</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/kubfu"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/891.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="urshifu"> 
                <h1 class="pnumber"> #892 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/urshifu" class="pname"> Urshifu</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/urshifu"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/892.png" alt=""></a>
                    </div>
            </div>

            <div class="fight dmax" id="urshifudmax">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Urshifu <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/892_f3.png" alt="">
                </div>
            </div>

            <div class="dark combatForm" id="urshifuRS">
                <h1 class="pnumberC"> #892 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Urshifu <span class="spanC"> -rapid style- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/892_f2.png" alt="">
                    </div>
            </div>

            <div class="fight dmax" id="urshifudmax2">
                <h1 class="pnumberD"> #000 </h1>
                    <div class="pokemon-data">
                        <li class="pnameD"> Urshifu <span class="spanDmin"> Dinamax </span></li>
                        <img class= "pImgD" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/892_f4.png" alt="">
                </div>
            </div>
            
            <div class="dark pokedex-box" id="zarude"> 
                <h1 class="pnumber"> #893 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/zarude" class="pname"> Zarude</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/zarude"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/893.png" alt=""></a>
                    </div>
            </div>
            
            <div class="electric pokedex-box" id="regieleki"> 
                <h1 class="pnumber"> #894 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/regieleki" class="pname"> Regieleki</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/regieleki"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/894.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dragon pokedex-box" id="regidrago"> 
                <h1 class="pnumber"> #895 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/regidrago" class="pname"> Regidrago</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/regidrago"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/895.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ice pokedex-box" id="glastrier"> 
                <h1 class="pnumber"> #896 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/glastrier" class="pname"> Glastrier</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/glastrier"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/896.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ghost pokedex-box" id="spectrier"> 
                <h1 class="pnumber"> #897 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/spectrier" class="pname"> Spectrier</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/spectrier"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/897.png" alt=""></a>
                    </div>
            </div>
            
            <div class="psychic pokedex-box" id="calyrex"> 
                <h1 class="pnumber"> #898 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/calyrex" class="pname"> Calyrex</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/calyrex"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/898.png" alt=""></a>
                    </div>
            </div>

            <div class="PSYCHIC combatForm" id="calyrexIR">
                <h1 class="pnumberC"> #898 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Calyrex <span class="spanC"> -ice rider- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/898_f2.png" alt="">
                    </div>
            </div>

            <div class="PSYCHIC combatForm" id="calyrexSR">
                <h1 class="pnumberC"> #898 </h1>
                    <div class="pokemon-data">
                        <li class="pnameC"> Calyrex <span class="spanC"> -shadow rider- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/898_f3.png" alt="">
                    </div>
            </div>
            
            <div class="normal pokedex-box" id="wyrdeer"> 
                <h1 class="pnumber"> #899 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/wyrdeer" class="pname"> Wyrdeer</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/wyrdeer"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/899.png" alt=""></a>
                    </div>
            </div>
            
            <div class="bug pokedex-box" id="kleavor"> 
                <h1 class="pnumber"> #900 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/kleavor" class="pname"> Kleavor</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/kleavor"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/900.png" alt=""></a>
                    </div>
            </div>
            
            <div class="ground pokedex-box" id="ursaluna"> 
                <h1 class="pnumber"> #901 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/ursaluna" class="pname"> Ursaluna</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/ursaluna"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/901.png" alt=""></a>
                    </div>
            </div>
            
            <div class="water pokedex-box" id="basculegion"> 
                <h1 class="pnumber"> #902 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/basculegion" class="pname"> Basculegion</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/basculegion"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/902.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fight pokedex-box" id="sneasler"> 
                <h1 class="pnumber"> #903 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/sneasler" class="pname"> Sneasler</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/sneasler"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/903.png" alt=""></a>
                    </div>
            </div>
            
            <div class="dark pokedex-box" id="overqwil"> 
                <h1 class="pnumber"> #904 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/overqwil" class="pname"> Overqwil</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/overqwil"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/904.png" alt=""></a>
                    </div>
            </div>
            
            <div class="fairy pokedex-box" id="enamorus"> 
                <h1 class="pnumber"> #905 </h1>
                    <div class="pokemon-data">
                        <li><a href="https://www.pokemon.com/es/pokedex/enamorus" class="pname"> Enamorus</a></li>
                        <a href="https://www.pokemon.com/es/pokedex/enamorus"> <img class="pImg" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/905.png" alt=""></a>
                    </div>
            </div>

            <div class="airy combatForm" id="enamorusTF">
                <h1 class="pnumberC"> #905 </h1>
                    <div class="pokemon-data">
                        <li class="pnameCmin"> Enamorus <span class="spanCmin"> -therian form- </span></li>
                        <img class="pImgC" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/905_f2.png" alt="">
                    </div>
            </div>
