
<nav class="navbar navbar-expand-lg nav-color nvborder" >
    <div class="container-fluid nav-color">
        <a class="navbar-brand name" href="https://linktr.ee/thiagozambonini"> RemoCode <img src="../../img/RcIcons/RCbl.png" alt="" class="name-img"> </a>
            <button class="navbar-toggler color-button-fix" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link nav-item-color" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-item-color" aria-current="page" href="https://matias.ma/nsfw/"> Coming Soon... </a>
                </li>

                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-item-color" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pokedex
                        </a>
                    <ul class="dropdown-menu">
                            <li> <hr class="dropdown-divider"></li>
                            <li> <a href="/kanto" class="menu-items menu-items_centerbox">  Kanto   </a></li>
                            <li> <a href="/jhoto" class="menu-items menu-items_centerbox">  Jhoto   </a></li>
                            <li> <a href="/hoenn" class="menu-items menu-items_centerbox">  Hoenn   </a></li>
                            <li> <a href="/sinnoh" class="menu-items menu-items_centerbox"> Sinnoh  </a></li>
                            <li> <a href="/teselia" class="menu-items menu-items_centerbox">Teselia </a></li>
                            <li> <a href="/kalos" class="menu-items menu-items_centerbox">  Kalos   </a></li>
                            <li> <a href="/alola" class="menu-items menu-items_centerbox">  Alola   </a></li>
                            <li> <a href="/galar" class="menu-items menu-items_centerbox">  Galar   </a></li>
                            <li> <hr class="dropdown-divider"></li>
                            <li> <a href="/random" class="menu-items menu-items_centerbox"> Random </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-item-color" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Types
                        </a>
                    <ul class="dropdown-menu">
                            <li> <hr class="dropdown-divider"></li>
                            <div class="menu-items_centerbox">
                                <li class="menu-items hada"><a href="/fairy" class="menu-items menu-anchor"> FAIRY </a></li>
                                <img src="../../img/iconType/header-icons/fairy.png" class="menu-types-icon" alt="" >
                            </div>                            
                            <div class="menu-items_centerbox">
                                <li class="menu-items acero"><a href="/steel" class="menu-items menu-anchor"> STEEL </a></li> 
                                <img src="../../img/iconType/header-icons/steel.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items siniestro"><a href="/dark" class="menu-items menu-anchor"> DARK </a></li> 
                                <img src="../../img/iconType/header-icons/dark.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items dragon"><a href="/dragon" class="menu-items menu-anchor"> DRAGON </a></li>
                                <img src="../../img/iconType/header-icons/dragon.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items fantasma"><a href="/ghost" class="menu-items menu-anchor">  GHOST  </a></li> 
                                <img src="../../img/iconType/header-icons/ghost.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items roca"><a href="/rock" class="menu-items menu-anchor">   ROCK   </a></li> 
                                <img src="../../img/iconType/header-icons/rock.png" class="menu-types-icon" alt="" > 
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items bicho"><a href="/bug" class="menu-items menu-anchor">    BUG    </a></li> 
                                <img src="../../img/iconType/header-icons/bug.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items psiquico"><a href="/psychic" class="menu-items menu-anchor">PSYCHIC </a></li> 
                                <img src="../../img/iconType/header-icons/psychic.png" class="menu-types-icon" alt="" > 
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items volador"><a href="/fly" class="menu-items menu-anchor">    FLY    </a></li> 
                                <img src="../../img/iconType/header-icons/fly.png" class="menu-types-icon" alt="" > 
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items tierra"><a href="/ground" class="menu-items menu-anchor"> GROUND </a></li> 
                                <img src="../../img/iconType/header-icons/ground.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items veneno"><a href="/poison" class="menu-items menu-anchor"> POISON </a></li> 
                                <img src="../../img/iconType/header-icons/poison.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items lucha"><a href="/fight" class="menu-items menu-anchor">  FIGHT  </a></li> 
                                <img src="../../img/iconType/header-icons/fight.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items hielo"><a href="/ice" class="menu-items menu-anchor">    ICE    </a></li> 
                                <img src="../../img/iconType/header-icons/ice.png" class="menu-types-icon" alt="" > 
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items planta"><a href="/grass" class="menu-items menu-anchor">  GRASS  </a></li> 
                                <img src="../../img/iconType/header-icons/grass.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items electrico"><a href="/electric"class="menu-items menu-anchor">ELECTRIC</a></li> 
                                <img src="../../img/iconType/header-icons/electric.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items agua"><a href="/water" class="menu-items menu-anchor">  WATER  </a></li> 
                                <img src="../../img/iconType/header-icons/water.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items fuego"><a href="/fire" class="menu-items menu-anchor">   FIRE   </a></li>  
                                <img src="../../img/iconType/header-icons/fire.png" class="menu-types-icon" alt="" >
                            </div>
                            <div class="menu-items_centerbox">
                                <li class="menu-items normal"><a href="/normal" class="menu-items menu-anchor"> NORMAL </a></li> 
                                <img src="../../img/iconType/header-icons/normal.png" class="menu-types-icon" alt="" >
                            </div>                      
                            <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>

    </ul>
        <button type="button" onclick="loginform()" class="btn btn-primary position-relative profile-btn">
                Profile
        </button>

        <button type="button" onclick="database()" class="btn btn-primary position-relative profile-btn">
                Settings
        </button>

        <button type="button" onclick="table()" class="btn btn-primary position-relative profile-btn">
                Table
        </button>
            {{!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> --}}
    </div>
</div>
</nav>