    <main class="region-main">
        <div class="region-box">
            <div class="region">
                <a href="/kanto" class="region-link">
                    <img src="../../img/pokedex/region-map/kanto.png" alt="" class="region-map">
                    <h3 class="region-name"> Kanto </h3> 
                </a>
            </div>
            <div class="region">
                <a href="/jhoto" class="region-link">
                    <img src="../../img/pokedex/region-map/jhoto.png" alt="" class="region-map">
                    <h3 class="region-name"> Jhoto </h3> 
                </a>
            </div>
            <div class="region">
                <a href="/hoenn" class="region-link">
                    <img src="../../img/pokedex/region-map/hoenn.png" alt="" class="region-map">
                    <h3 class="region-name"> Hoenn </h3> 
                </a>
            </div>
            <div class="region">
                <a href="/sinnoh" class="region-link">
                    <img src="../../img/pokedex/region-map/sinnoh.png" alt="" class="region-map">
                    <h3 class="region-name"> Sinnoh </h3> 
                </a>
            </div>
            <div class="region">
                <a href="/teselia" class="region-link">
                    <img src="../../img/pokedex/region-map/teselia.png" alt="" class="region-map">
                    <h3 class="region-name"> Teselia </h3> 
                </a>
            </div>
            <div class="region">
                <a href="/kalos" class="region-link">
                    <img src="../../img/pokedex/region-map/kalos.png" alt="" class="region-map">
                    <h3 class="region-name"> Kalos </h3> 
                </a>
            </div>
            <div class="region">
                <a href="/alola" class="region-link">
                    <img src="../../img/pokedex/region-map/alola.png" alt="" class="region-map">
                    <h3 class="region-name"> Alola </h3> 
                </a>
            </div>
            <div class="region">
                <a href="/galar" class="region-link">
                    <img src="../../img/pokedex/region-map/galar.png" alt="" class="region-map">
                    <h3 class="region-name"> Galar </h3> 
                </a>
            </div>
        </div>
    </main>

    <style>
        body{
            background-image: url("../../img/pokedex/wallpm.png");
            background-repeat: repeat; 
            background-attachment: scroll; 
            background-size:auto; 
        }
    </style>