
    <div class="index-title-box">
        <img src="../img/RcIcons/rawpb.png" class="index-image">
        <h1 class="index-title"> Register </h1>
    </div>

<div class="container">
    <div class="row form-container">
        <form action="/form" method="post">
            <div class="mb-3 row form-box">
                <label for="nombre" class="col-sm-2 col-form-label label-form">Username: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-form" name="nombre" id="nombre" placeholder="@example">
                </div>
            </div>

            <div class="mb-3 row form-box">
                <label for="email" class="col-sm-2 col-form-label label-form">Email: </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control input-form" name="email" id="email" placeholder="example@gmail.com">
                </div>
            </div>

            <div class="mb-3 row form-box">
                <label class="col-sm-2 col-form-label label-form">Pass: </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control input-form" placeholder="********">
                </div>
            </div>

        <div class="mb-3 text-center">
            <input type="submit" class="button btn btn-danger w-50 p-2 button-form" value="Send Form">
        </div>
        </form>
    </div>
</div>

<style>
body{ background-image: url("../../img/pokedex/wallpf.png"); background-attachment: scroll; background-size:cover; background-repeat: repeat-y; }
</style>
