

<div class="index-title-box">
    <img src="../img/RcIcons/rawpb.png" class="index-image">
    <h1 class="index-title">Pokemon News</h1>
</div>


<div class="container">
    <div class="row mb-2">
            <div>
                <div class="headnews-box">
                    <div class="headnews-info-box">
                        <strong class="headnews-category">Pokemon UNITE</strong>
                        <h3 class="headnews-title">Celebrate Pokémon UNITE’s 1st Anniversary</h3>
                            <div class="headnews-date">July 15</div>
                            <i class="headnews-intro"> Make the most of the special occasion with new Unite licenses, an anniversary cake, and so much more.</i>
                            <a href="https://www.pokemon.com/us/pokemon-news/celebrate-pokemon-unite-s-1st-anniversary-with-glaceon-and-boss-rush-quick-battles" class="headnews-link">Continue reading</a>
                    </div>
                    <div class="img-news-box">
                        <img src="../img/wllp/news-wllp/news5-low.png" class="headnews-img" alt="">
                    </div>
                </div>
            </div> 

            <div>
                <div class="headnews-box">
                    <div class="headnews-info-box">
                        <strong class="headnews-category">Pokemon Presents </strong>
                        <h3 class="headnews-title"> News from the August Pokémon Presents</h3>
                            <div class="headnews-date">aug 3 </div>
                            <i class="headnews-intro"> Get the latest updates about Pokémon Scarlet and Pokémon Violet, Pokémon GO, Pokémon UNITE, and more.</i>
                            <a href="https://www.pokemon.com/us/pokemon-news/news-from-the-august-2022-pokemon-presents" class="headnews-link">Continue reading</a>
                    </div>
                    <div class="img-news-box">
                        <img src="../img/wllp/news-wllp/news6-low.png" class="headnews-img" alt="">
                    </div>
                </div>
            </div> 

            <div class="col-md-6">
                <div class="news-box">
                    <div class="news-info-box">
                        <strong class="news-category">Pokemon Masters </strong>
                        <h3 class="news-title"> Ash & Pikachu in Pokémon Masters EX</h3>
                            <div class="news-date"> Aug 29</div>
                            <i class="news-intro"> The famous duo show off the power of friendship with their Buddy Move, B Thunderbolt!</i>
                            <a href="https://www.pokemon.com/us/pokemon-news/ash-pikachu-in-pokemon-masters-ex" class="news-link">Continue reading</a>
                    </div>
                    <div class="img-news-box">
                        <img src="../img/wllp/news-wllp/news3-low.png" class="news-img" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="news-box">
                    <div class="news-info-box">
                        <strong class="news-category">Pokemon Sword and Shield </strong>
                        <h3 class="news-title">Ranked Battles September 2022  </h3>
                            <div class="news-date"> Sep 12</div>
                            <i class="news-intro"> Challenge players from around the world in a brand-new format featuring Mythical Pokémon! </i>
                            <a href="https://www.pokemon.com/us/pokemon-news/pokemon-sword-and-pokemon-shield-ranked-battles-september-2022-season-season-34" class="news-link">Continue reading</a>
                    </div>
                    <div class="img-news-box">
                        <img src="../img/wllp/news-wllp/news2-low.png" class="news-img" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="news-box">
                    <div class="news-info-box">
                        <strong class="news-category">Pokemon UNITE</strong>
                        <h3 class="news-title">Pokémon UNITE Celebrates Anniversary </h3>
                            <div class="news-date">Sep 2</div>
                            <i class="news-intro">Challenge Rayquaza at the Theia Sky Ruins, add Mew to your team, and more in this latest update to Pokémon UNITE.</i>
                            <a href="https://www.pokemon.com/us/pokemon-news/pokemon-unite-celebrates-mobile-anniversary-with-new-map-fresh-pokemon-and-more" class="news-link">Continue reading</a>
                    </div>
                    <div class="img-news-box">
                        <img src="../img/wllp/news-wllp/news4-low.png" class="news-img" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="news-box">
                    <div class="news-info-box">
                        <strong class="news-category">New Game</strong>
                        <h3 class="news-title">Pokemon Scarlet and Purple new leaks</h3>
                            <div class="news-date">Aug 3</div>
                            <i class="news-intro"> The Story Unfolds the Way You Want It To </i>
                            <a href="https://scarletviolet.pokemon.com/en-us/news/" class="news-link">Continue reading</a>
                    </div>
                    <div class="img-news-box">
                        <img src="../img/wllp/news-wllp/news1-low.png" class="news-img" alt="">
                    </div>
                </div>
            </div>

            <div>
                <div class="headnews-box">
                    <div class="headnews-info-box">
                        <strong class="headnews-category">Pokemon GO</strong>
                        <h3 class="headnews-title">Pokémon GO World Championships Celebration Event</h3>
                            <div class="headnews-date">Aug 18</div>
                            <i class="headnews-intro"> Embrace the spirit of battle with Elite TMs, featured attacks, and more. </i>
                            <a href="https://www.pokemon.com/us/pokemon-news/catch-party-and-battle-during-the-2022-pokemon-go-world-championships-celebration-event" class="headnews-link">Continue reading</a>
                    </div>
                    <div class="img-news-box">
                        <img src="../img/wllp/news-wllp/news7-low.png" class="headnews-img" alt="">
                    </div>
                </div>
            </div> 
        </div>
    </div>


<div class="index-title-box">
    <img src="../img/RcIcons/rawpb.png" class="index-image">
    <h1 class="index-title">Pokemons Of The Day</h1>
</div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="img-backg-box w-100">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/549.png" class="d-block carrousel-img" alt="...">
            </div>
        <div class="carousel-caption d-none d-md-block carrousel-text-box">
            <h5 class="carrousel-text">Lilligant</h5>
            <p class="carrousel-text">It is said that getting the flower on your head to bloom is a daunting task even for the best gardeners.</p>
        </div>
        </div>

        <div class="carousel-item">
            <div class="img-backg-box w-100">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/269.png" class="d-block carrousel-img" alt="...">
            </div>
        <div class="carousel-caption d-none d-md-block carrousel-text-box">
            <h5 class="carrousel-text ">Dustox</h5>
            <p class="carrousel-text"> Dustox instinctively approach the light. In fact, they swarm around city lights and wreak havoc on the leaves of roadside trees to feed.</p>
        </div>
        </div>

        <div class="carousel-item">
            <div class="img-backg-box w-100">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/235.png" class="d-block carrousel-img" alt="...">
            </div>
        <div class="carousel-caption d-none d-md-block carrousel-text-box">
            <h5 class="carrousel-text ">Smeargle</h5>
            <p class="carrousel-text">The tonality of the liquid that it releases through the tail changes depending on its mood </p>
        </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<style>
    body{background-image:url("../../img/pokedex/wallpm.png"); background-repeat: repeat; background-attachment: scroll; background-size: cover;}
</style>