<main class="main-typemenu">
    <div class="typemenu-box">

        <div class="type-options">
            <a href="/bug" class="region-link">
                <img src="../img/iconType/bug.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title"> Bug </h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/dark" class="region-link">
                <img src="../img/iconType/dark.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Dark</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/dragon" class="region-link">
                <img src="../img/iconType/dragon.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Dragon</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/" class="region-link">
                <img src="../img/iconType/fairy.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Fairy</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/electric" class="region-link">
                <img src="../img/iconType/electric.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Electric</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/fight" class="region-link">
                <img src="../img/iconType/fight.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Fight</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/fire" class="region-link">
                <img src="../img/iconType/fire.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Fire</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/fly" class="region-link">
                <img src="../img/iconType/fly.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Fly</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/grass" class="region-link">
                <img src="../img/iconType/grass.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Grass</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/ground" class="region-link">
                <img src="../img/iconType/ground.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Ground</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/ice" class="region-link">
                <img src="../img/iconType/ice.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Ice</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/normal" class="region-link">
                <img src="../img/iconType/normal.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Normal</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/poison" class="region-link">
                <img src="../img/iconType/poison.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Poison</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/psychic" class="region-link">
                <img src="../img/iconType/psychic.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Psychic</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/rock" class="region-link">
                <img src="../img/iconType/rock.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Rock</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/steel" class="region-link">
                <img src="../img/iconType/steel.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Steel</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/water" class="region-link">
                <img src="../img/iconType/water.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Water</h3>
            </a>
        </div>

        <div class="type-options">
            <a href="/ghost" class="region-link">
                <img src="../img/iconType/ghost.png" alt="" class="typeoption-img">
                <h3 class="typeoption-title">Ghost</h3>
            </a>
        </div>

    </div>
</main>



    <style>
        body{
            background-image: url("../../img/pokedex/wallpm.png");
            background-repeat: repeat; 
            background-attachment: scroll; 
            background-size:auto; 
        }
    </style>