<main>

	<div class="text-center m-5">
		<div class="title-box">
    		<h1 class="main-title"> {{ titulo }} </h1>
		</div>
	</div>

<div class="modal modal-tour position-static d-block page-box">
	<div class="modal-dialog m-0 types-box">
		<div class="modal-body p-2 types-div eff">
			<h2 class="fw-bold title">Effective at... </h2>
			<ul class="d-grid gap-4 my-5 list-unstyled text-center types-ul">
				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/rock.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title rock"> ROCK </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/water.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title water"> WATER </h5>
						</div>
				</li>
        	</ul>
    	</div>


		<div class="modal-body p-2 types-div wek">
			<h2 class="fw-bold title">Weak To... </h2>
			<ul class="d-grid gap-4 my-5 list-unstyled text-center types-ul">
				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/bug.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title bug">BUG </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/fire.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title fire"> FIRE </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/fly.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title fly"> FLY </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/ice.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title ice"> ICE </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/poison.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title poison"> POISON </h5>
						</div>
				</li>
        	</ul>
    	</div>


		<div class="modal-body p-2 types-div res">
			<h2 class="fw-bold title">Resistant To... </h2>
			<ul class="d-grid gap-4 my-5 list-unstyled text-center types-ul">
				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/electric.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title electric"> ELECTRIC </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/grass.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title grass"> GRASS </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/ground.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title ground"> GROUND </h5>
						</div>
				</li>

				<li class="c-flex gap-4 types-li">
					<img src="../img/iconType/water.png" alt="" class="bi text-warning flex-shrink-0 types-icon" >
						<div>
							<h5 class="mb-0 types-title water"> WATER </h5>
						</div>
				</li>
        	</ul>
    	</div>


		<div class="modal-body p-2 types-div inm">
			<h2 class="fw-bold title">Immune to... </h2>
			<ul class="d-grid gap-4 my-5 list-unstyled text-center types-ul">
				<li class="c-flex gap-4 types-li">
						<div>
							<h5 class="mb-0 types-title none"> -NONE- </h5>
						</div>
				</li>
        	</ul>
    	</div>
	</div>
</div>
</main>


<style>

	body{
	background-image: url(../../img/wllp/planta.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}

	:root{
		--main-color: #38bf4b  ;
		--main-color4: #cbf2f5;
		--main-color4b: #38bf4b ;
	} 
</style>