<head>
    <link rel="stylesheet" href="../css/pokedex-style.css">
</head>

    {{> pokedexfilter}}

    <main class="main-pokedex">
        <div class="pokedex-container">
            {{> 3gen}}
        </div>
    </main>


<style>
body{ background-image: url(../../img/pokedex/wallp3.png); background-repeat: repeat; background-attachment: scroll; background-size:auto; }
:root{ --main-color: #2b8767; --main-color2: #000000; --main-color3: #ffffff; }
.pokedex-container{ grid-template-rows: repeat(34, 1fr); }
</style>