<head>
    <link rel="stylesheet" href="../../css/pokedex-style.css">
</head>

        {{> pokedexfilter}}
        
    <main class="main-pokedex">
        <div class="pokedex-container">
            {{> 1gen}}
        </div>
    </main>


<style>
    body{
    background-image: url(../../img/pokedex/wallp.png);
    background-repeat: repeat;
    background-attachment: scroll;
    background-size:auto;
    }
</style>
