<head>
    <link rel="stylesheet" href="../../css/pokedex-style.css">
    <link rel="stylesheet" href="../../css/random.css">
</head>

    <nav class="rdm-nav">
        <div class="btn-box">
            <button class="rdm" id="recargar"> Random </button>
        </div>
    </nav>

    <main class="main-pokedex">
        <div class="pokedex-container">
            {{> 1gen}}
            {{> 2gen}}
            {{> 3gen}}
            {{> 4gen}}
            {{> 5gen}}
            {{> 6gen}}
            {{> 7gen}}
            {{> 8gen}}
        </div>
    </main>

    <script src="../../js/pokemon.js"></script>

    